<template name="UserSettingsProfile">
	{{> UserSettingsProfileEditForm}}
</template>


<template name="UserSettingsProfileEditForm">

	<form role="form">



    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-lg-6 col-md-6">
                    <div id="hbreadcrumb" class="">
                        <ol class="hbreadcrumb breadcrumb">
                        	<!--<li><a class="btn btn-link text-uppercase" href="">Settings</a></li>-->
                            <li class="active"><a class="btn btn-link text-primary text-uppercase" href="">Settings</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
	                <div class="pull-right">
	                	<a class="btn btn-default text-uppercase m-l-sm">Cancel</a>             
	                	<button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save Changes</button>
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">

		<div id="user-settings-profile-edit-form" class="">
			
			<div class="row">
				<div class="col-lg-12">
					{{#if errorMessage}}
					<div class="alert alert-warning">
						{{errorMessage}}
					</div>
					{{/if}}		
				
					{{#if infoMessage}}
					<div class="alert alert-success">
						{{infoMessage}}
					</div>
					{{/if}}
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="hpanel">
			            <div class="panel-heading hbuilt wborder bg-white text-dark">
			                Account Details
			            </div>
			            <div class="panel-body">
			                <div class="row">
			                	<div class="col-lg-5 col-md-5">
			                		<div class="hpanel" style="border:1px solid #efefef">
	                                    <div class="panel-body text-center">
	                                        <img style="width:100%" src="/images/mike-donovan.jpg">
	                                        <a class="btn btn-xs btn-default text-uppercase m-t-md" href="#">Change Profile Image</a>
	                                    </div>
	                                </div>
			                	</div>
			                	<div class="col-lg-7 col-md-7">
			                		<div class="form-group field-profile-name">
										<label for="profile.name">
											Full Name
										</label>
										<div class="input-div">
											<input type="text" name="profile.name" value="{{current_user_data.profile.name}}" class="form-control" autofocus="autofocus" required="required">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group field-profile-email">
										<label for="profile.email">
											E-mail Address
										</label>
										<div class="input-div">
											<input type="text" name="profile.email" value="{{current_user_data.profile.email}}" class="form-control" required="required" data-type="email">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group field-profile-email">
										<label for="profile.email">
											Password
										</label>
										<div class="input-group">
											<input type="password" class="form-control" value="••••••••••" placeholder="">
											<span class="input-group-btn">
												<a type="button" href="" class="btn btn-default" data-toggle="modal" data-target="#myModal">Change Password</a>
											</span>
										</div>
									</div><!--{{pathFor 'user_settings.change_pass'}}-->
									<!--<div class="form-group field-profile-website">
										<label for="profile.website">
											Website URL
										</label>
										<div class="input-div">
											<input type="text" name="profile.website" value="{{current_user_data.profile.website}}" class="form-control">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>	-->	
									<div class="form-group field-job-position">
										<label for="profile.name">
											Job Position
										</label>
										<div class="input-div">
											<input type="text" name="" value="Brand Manager" class="form-control" autofocus="autofocus" required="required">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>	
									<!--<div class="form-group field-profile-facebook">
										<label for="profile.facebook">
											Facebook URL
										</label>
										<div class="input-div">
											<input type="text" name="profile.facebook" value="{{current_user_data.profile.facebook}}" class="form-control">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group field-profile-google">
										<label for="profile.google">
											Google+ URL
										</label>
										<div class="input-div">
											<input type="text" name="profile.google" value="{{current_user_data.profile.google}}" class="form-control">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group field-profile-twitter">
										<label for="profile.twitter">
											Twitter ID
										</label>
										<div class="input-div">
											<input type="text" name="profile.twitter" value="{{current_user_data.profile.twitter}}" class="form-control">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>-->

									<!--<div class="form-group m-t-md">
										<a class="btn btn-sm btn-primary" href="{{pathFor 'user_settings.change_pass'}}">
											<span class="item-title">
												Change password
											</span>
										</a>
									</div>-->

			                	</div>
			                </div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="hpanel">
			            <div class="panel-heading hbuilt wborder bg-white text-dark">
			                Brand Details
			            </div>
			            <div class="panel-body">
			                <div class="row">
			                	<div class="col-lg-5 col-md-5">
			                		<div class="hpanel" style="border:1px solid #efefef">
	                                    <div class="panel-body text-center">
	                                        <img style="width:100%" src="/images/brand-logo.png">
	                                        <a class="btn btn-xs btn-default text-uppercase m-t-md" href="#">Change Brand Image</a>
	                                    </div>
	                                </div>
			                	</div>
			                	<div class="col-lg-7 col-md-7">
			                		<div class="form-group field-profile-name">
										<label for="profile.name">
											Brand Name
										</label>
										<div class="input-div">
											<input type="text" name="" value="BetterBrand" class="form-control" autofocus="autofocus" required="required" placeholder="">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group field-profile-email">
										<label for="profile.email">
											Brand Tagline
										</label>
										<div class="input-div">
											<input type="text" name="" value="The Chat Management Platform" class="form-control" autofocus="autofocus" required="required" placeholder="">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group field-profile-website">
										<label for="profile.website">
											Brand Website
										</label>
										<div class="input-div">
											<input type="text" name="" value="www.betterbrand.im" class="form-control" autofocus="autofocus" required="required" placeholder="">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>			

									<div class="form-group field-profile-website">
										<label for="profile.website">
											Brand Main Colour
										</label>
										<div class="input-group m-b">
											<span class="input-group-btn">
	                                        	<a type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;</a>
	                                        </span>
	                                        <input type="text" class="form-control" value="#0BBBEF · R:0 G:102 B:203" autofocus="autofocus" required="required" placeholder="">
	                        			</div>
	                        		</div>

			                	</div>
			                </div>
						</div>
					</div>

				</div>


			</div><!-- row -->

			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			    <div class="modal-dialog">
			        <div class="modal-content">
			        <form id="change_pass_form" class="account-form" role="form">
			            <div class="color-line"></div>
			            <div class="modal-header text-center">
			                <h4 class="text-dark modal-title">Change Password</h4>
			                <small class="font-bold">Use a combination of lowercase and uppercase letters<br> with series of numbers for stronger passwords</small>
			            </div>
			            <div class="modal-body">
							{{#if errorMessage}}
							<div class="alert alert-warning">
								{{errorMessage}}
							</div>
							{{/if}}		
						
							{{#if infoMessage}}
							<div class="alert alert-success">
								{{infoMessage}}
							</div>
							{{/if}}
							<input id="old_password" type="password" class="form-control m-t-sm" placeholder="Your old password" required autofocus>
							<input id="new_password" type="password" class="form-control" placeholder="New password" required>
							<input id="confirm_pass" type="password" class="form-control" placeholder="Repeat new password" required style="margin-bottom:10px">
			            </div>
			            <div class="modal-footer m-t-none">
				            <button class="btn btn btn-primary text-uppercase btn-block" type="submit" data-loading-text="Please wait...">
								Update my Password
							</button>
			            </div>
			        </form>
			        </div>
			    </div>
			</div>




			<div class="row">
				<div class="col-lg-12 col-md-12">
					<table id="dataview-table" class="table table-hover tour-5">
						<thead id="dataview-table-header">
							<tr id="dataview-table-header-row">
								<th style="border-radius: 2px 0 0 0;text-align:center;">
									Status
								</th>
								<th class="th-sortable" data-sort="campaignname">
									Campaign Name <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
								</th>
								<th class="th-sortable" data-sort="platform">
									Platform <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
								</th>
								<th class="th-sortable" data-sort="botdetails">
									Bot Name <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
								</th>
				                <th class="th-sortable" data-sort="lastmodified" style="border-radius: 0 2px 0 0">
				                    Last modified <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
				                </th>
							</tr>
						</thead>

						<tbody id="">
							<tr id="">
								<td class="va-middle text-center">
									<span class="fa fa-circle text-success"></span>
								</td>
								<td class="va-middle">
									New Brand Collection!
								</td>
								<td class="va-middle">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-whatsapp.png">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-messenger.png">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-slack.png">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-talk.png">
								</td>
								<td class="va-middle">
						            MyRetailBot
								</td>
						        <td class="va-middle">
						            05/01/2016 17:46 PM
						        </td>
							</tr>
							<tr id="">
								<td class="va-middle text-center">
									<span class="fa fa-circle text-danger"></span>
								</td>
								<td class="va-middle">
									Product adquisition Survey
								</td>
								<td class="va-middle">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-messenger.png">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-kik.png">
								</td>
								<td class="va-middle">
						            EvaluationBot
								</td>
						        <td class="va-middle">
						            12/01/2016 09:33 PM
						        </td>
							</tr>
							<tr id="">
								<td class="va-middle text-center">
									<span class="fa fa-circle text-success"></span>
								</td>
								<td class="va-middle">
									Spring Video Contest
								</td>
								<td class="va-middle">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-telegram.png">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-slack.png">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-messenger.png">
								</td>
								<td class="va-middle">
						            WinYourStayBot
								</td>
						        <td class="va-middle">
						            12/01/2016 09:25 PM
						        </td>
							</tr>
							<tr id="">
								<td class="va-middle text-center">
									<span class="fa fa-circle text-success"></span>
								</td>
								<td class="va-middle">
									Customer Service Bot
								</td>
								<td class="va-middle">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-whatsapp.png">
									<img class="m-b-none m-r-sm" style="width:32px;float:left;" src="/images/apps/app-logo-messenger.png">
								</td>
								<td class="va-middle">
						            HowCanIhelpYou
								</td>
						        <td class="va-middle">
						            10/01/2016 12:54 PM
						        </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


		</div>

	</div>



	</form>

</template>