<template name="ResetPassword">
	<div class="content" id="content">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
                <div class="hpanel">
                	<div class="panel-heading hbuilt bg-dark text-white text-center">
	                	Welcome to Chatsuite, reset your password
	            	</div>
                    <div class="panel-body">
                        <form id="reset_password_form" class="account-form" role="form">
							{{#if errorMessage}}
							<div class="alert alert-warning">
								{{errorMessage}}
							</div>
							{{/if}}
							<input id="new_password" type="password" class="form-control" placeholder="Your new password" required autofocus>
							<input id="new_password_confirm" type="password" class="form-control" placeholder="Confirm password" required>
							<button class="btn btn-lg btn-primary btn-block m-b-lg" type="submit" data-loading-text="Please wait...">
								Submit
							</button>
						</form>
                        <div class="row">
                        	<div class="col-sm-6">
                            	<p class="m-b-none text-dark account-form-text-after" id="register-link">
									Not a member?<br />
									<a style="color:#0BBBEF" href="{{pathFor 'register'}}">
										Sign Up
									</a>
								</p>
                        	</div>
                        	<div class="col-sm-6 text-right">
								<p class="m-b-none text-dark account-form-text-after">
									Already a member?<br />
									<a style="color:#0BBBEF" href="{{pathFor 'login'}}">
										Sign In
									</a>
								</p>	                            		
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<!--<template name="ResetPassword">
	<div class="container">
		<form id="reset_password_form" class="account-form" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="new_password" type="password" class="form-control" placeholder="Your new password" required autofocus>
			<input id="new_password_confirm" type="password" class="form-control" placeholder="Confirm password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
				Submit
			</button>
		</form>
	</div>
</template>-->

