<template name="C_CampaignsDetails">
	<div id="content">
		<div class="container">
			{{> C_CampaignsDetailsDetailsForm}}
		</div>
	<!--	<div class="row">
			<div class="col-md-12" id="menu">
			</div>
		</div>-->
		<div class="row">
			<div class="col-md-12" id="subcontent">
				{{> yield region='C_CampaignsDetailsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="C_CampaignsDetailsDetailsForm">
	<div id="campaigns-details-details-form">
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div>
				<div class="submit-div col-sm-9 col-sm-offset-3"></div>
			</div>
		</form>
	</div>
</template>

