<template name="CampaignsEdit">

   <!-- {{> upload_bootstrap }}-->
    <form role="form">
   	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-lg-4 col-md-4">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
	                        <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
	                        <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='campaigns'}}">Campaigns</a></li>
	                        <li class="active"><a class="btn btn-link text-primary" href="">{{campaign.name}}</a></li>
	                    </ol>
	                </div>
	            </div>
                <div class="col-lg-8 col-md-8">
	                <div class="pull-right">
                        <div style="display: inline-block; padding-left: 10px;">
                            <a href="/menu?id={{campaign.name}}&cid={{campaign._id}}" id="0form-sections-button" class="btn btn-primary">
                                FACEBOOK MENU
                            </a>
                        </div>

                        <div  style="display: inline-block; padding-left: 10px;">
                            <a href="/qr?id={{campaign.name}}&cid={{campaign._id}}" id="0form-sections-button" class="btn btn-primary">
                                FACEBOOK QUICKREPLIES
                            </a>
                        </div>
                        <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                            Cancel
                        </button>
                        <button id="form-submit-button-dup" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                              <span data-toggle="tooltip" data-placement="bottom"  id="editor-button" title="Duplicate"><img src="/images/icon-campaign-duplicate.svg"></span>
                        </button>
                        <button style="margin-right: 10px" id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                             Save Changes
                        </button>



	                	<!--<a class="btn btn-default text-uppercase m-l-sm">Cancel</a>	              
	                	<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save</a>-->

	                </div>




	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">
        <div id="campaigns-edit-edit-form" class="">

                <div class="row">
                    <div class="col-lg-12">
                        {{#if errorMessage}}
                            <div class="alert alert-warning">
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        {{#if infoMessage}}
                            <div class="alert alert-success">
                                {{infoMessage}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-12">

                        <div class="hpanel">
                            <div class="panel-body" style="padding: 0px;">
                                <div style="padding:100px 100px 100px 150px">

                                <h4 id="note1title" class="m-t-none m-b-lg text-dark">Campaign Details</h4>

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group text-left field-name">
                                            <label for="name">
                                                Campaign Name
                                            </label>
                                            <div class="input-div">
                                                <input type="text" id="campaignName" name="name" value="{{campaign.name}}" class="form-control" autofocus="autofocus" required="required">
                                                <span id="help-text" class="help-block">
                                                </span>
                                                <span id="error-text" class="help-block">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group text-left field-startdate">
                                            <label for="sdate">
                                                Start Date
                                            </label>
                                            <div class="input-div">
                                                <div class="input-group datetimepicker">

                                                    <input name="sdate" id="idInput" value="{{formatDate campaign.sdate ''}}" class="set-due-date form-control" type="text"/>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
							                        <span id="help-text" class="help-block">
							                        </span>
							                        <span id="error-text" class="help-block">
							                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group text-left field-enddate">
                                            <label for="edate">
                                                End Date
                                            </label>
                                            <div class="input-div">
                                                <div class="input-group datetimepicker">

                                                    <input name="edate" id="idInput" value="{{formatDate campaign.edate ''}}" class="set-due-date form-control" type="text"/>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
							                        <span id="help-text" class="help-block">
							                        </span>
							                        <span id="error-text" class="help-block">
							                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                    <div class="form-group field-author">
                                        <label for="author">
                                            Author
                                        </label>
                                        <div class="input-div">
                                            <input type="text" name="author" value={{campaign.author}} class="form-control" autofocus="autofocus" >
																		<span id="help-text" class="help-block">
																		</span>
																		<span id="error-text" class="help-block">
																		</span>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="form-group text-left field-description" >
                                            <label for="description">
                                                Campaign Description
                                            </label>
                                            <div class="input-div">
                                                <input name="description" type="text" value="{{campaign.description}}" class="form-control" style="resize:vertical;">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group field-chat-platform">
                                            <label for="platform">
                                                Chat Platform
                                            </label>
                                            <div class="input-div">
                                                <input type="text" name="platform" value="{{campaign.platform}}" class="form-control"  autofocus="autofocus" >
																		<span id="help-text" class="help-block">
																		</span>
																		<span id="error-text" class="help-block">
																		</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                        <!--div class="form-group text-left field-active m-b-none m-t-sm">
						            	<label for="edate">
						                    Active Campaign
						                </label>
						                <div class="input-div">
						                    <div class="checkbox no-padding no-margins">
						                        <input type="checkbox" class="js-switchActive"  value="{{booleanToYesNo campaign.active}}" name="active" data-type="bool" {{itemIsChecked campaign.active true}}>
						                    </div>
						                </div>
						            </div-->



                                <div class="row" style=" padding:100px 100px 100px 150px; border-top:1px solid #efefef">

                                    <div class="col-lg-12 ">
                                        <div class="form-group m-b-none" >
                                            <h4 class="m-t-none m-b-lg text-dark">Campaign Keywords

                                            </h4>

                                            {{#each camp}}

                                                {{#each keyword}}

                                                    {{#if compare value "empty"}}

                                                    {{else}}
                                                        <div class="input-group m-b-sm" >
                                                            <div class="row">
                                                            <div class="col-sm-5">
                                                            <input class="form-control keyword-key" id="" type="text" value="{{key}}" placeholder="" style="">
                                                            </div>
                                                            <div class="col-sm-5">
                                                            <input class="form-control keyword-value" id="" type="text" value="{{value}}" placeholder="" style="">
                                                            </div>
                                                                <div class="col-sm-2">
                                                                <span class="input-group-btn">
                                                                    <a id="removeKey" style="min-width:182px; color:#c1c1c1; " href="#" class="btn btn-default text-center {{key}}">Remove this Keyword</a>
                                                                </span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    {{/if}}
                                                {{/each}}
                                            {{/each}}

                                            <div class="input-div">
                                                <div class="input-group">
                                                    <div class="row">
                                                    <div class="col-sm-5">
                                                        <input class="form-control" id="keyword_key" type="text" value="" placeholder="User Keyword..." style="">
                                                    </div>
                                                    <div class="col-sm-5">
                                                    <input class="form-control" id="keyword_value" type="text" value="" placeholder="Brand Answer..." style="">
                                                        </div>
                                                    <div class="col-sm-2">
						                    	<span class="input-group-btn">
						                    		<button id="insertKey" type="button" style="min-width:182px; color:#c1c1c1;" class="btn btn-default">Add New Keyword</button>
						                    	</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-b-md" style="padding:100px 100px 100px 150px; border-top:1px solid #efefef">
                                    <div class="col-lg-12 m-t-md">
                                        <div class="form-group text-left m-b-none" >
                                            <h4 class="m-t-none m-b-lg text-dark">External Content Details

                                            </h4>

                                            {{#each camp}}

                                                {{#each rss}}

                                                    {{#if compare value "empty"}}

                                                    {{else}}
                                                        <div class="input-group m-b-sm">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                            <input  class="form-control rss-key" id="" type="text" value="{{key}}" placeholder="" style="">
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <input class="form-control rss-value" id="" type="text" value="{{value}}" placeholder="" style="">
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <span class="input-group-btn">
								                    		<a id="removeKeyRSS" href="#" style="min-width:182px; color:#c1c1c1;" class="btn btn-default text-center {{key}}">Remove this RSS</a>
								                    	</span>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    {{/if}}

                                                {{/each}}

                                            {{/each}}

                                            <div class="input-div">
                                                <div class="input-group">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                    <input class="form-control" id="rss_key" type="text" value="" placeholder="Channel Name..." style="">
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <input class="form-control" id="rss_value" type="text" value="" placeholder="RSS Link URL..." style="">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <span class="input-group-btn">
						                    		<button id="insertKeyRSS" type="button" style="min-width:182px; color:#c1c1c1;" class="btn btn-default">Add New RSS</button>
						                    	</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                    <!--
                <table id="dataview-table" class="table table-hover tour-5">
                    <thead id="dataview-table-header">
                    <tr id="dataview-table-header-row">
                        <th class="th-sortable" data-sort="name">
                            Platform <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="description">
                            Web hook <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="sdate">
                            Bot Manager <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            User <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Token <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Validate <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dataview-table-items">

                        <tr id="dataview-table-items-row">

                            <td class="va-middle">
                                <input  id="facebook_platform" name="facebook_platform" type="text" value="{{campaign.facebook_platform}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_webhook" name="facebook_webhook" type="text" value="{{campaign.facebook_webhook}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_botmanager" name="facebook_botmanager" type="text" value="{{campaign.facebook_botmanager}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_account" name="facebook_account" type="text" value="{{campaign.facebook_account}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_token" name="facebook_token" type="text" value="{{campaign.facebook_token}}" >
                            </td>

                            <td>
                                <span id="fb-validate-button" class="btn btn-primary text-uppercase m-r-sm" title="vaildate"></span>
                            </td>

                        </tr>

                    </tbody>
                </table>


                <table id="dataview-table" class="table table-hover tour-5">
                    <thead id="dataview-table-header">
                    <tr id="dataview-table-header-row">
                        <th class="th-sortable" data-sort="name">
                            Platform <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="description">
                            Web hook <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="sdate">
                            Bot Manager <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            User <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Token <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Validate <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dataview-table-items">

                    <tr id="dataview-table-items-row">

                        <td class="va-middle">
                            <input  id="kik_platform" name="kik_platform" type="text" value="{{campaign.kik_platform}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_webhook" name="kik_webhook" type="text" value="{{campaign.kik_webhook}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_botmanager" name="kik_botmanager" type="text" value="{{campaign.kik_botmanager}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_account" name="kik_account" type="text" value="{{campaign.kik_account}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_token" name="kik_token" type="text" value="{{campaign.kik_token}}" >
                        </td>

                        <td>
                            <span id="fb-validate-button" class="btn btn-primary text-uppercase m-r-sm" title="vaildate"></span>
                        </td>

                    </tr>

                    </tbody>
                </table>


                <table id="dataview-table" class="table table-hover tour-5">
                    <thead id="dataview-table-header">
                    <tr id="dataview-table-header-row">
                        <th class="th-sortable" data-sort="name">
                            Platform <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="description">
                            Web hook <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="sdate">
                            Bot Manager <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            User <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Token <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Validate <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dataview-table-items">

                    <tr id="dataview-table-items-row">

                        <td class="va-middle">
                            <input  id="telegram_platform" name="telegram_platform" type="text" value="{{campaign.telegram_platform}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_webhook" name="telegram_webhook" type="text" value="{{campaign.telegram_webhook}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_botmanager" name="telegram_botmanager" type="text" value="{{campaign.telegram_botmanager}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_account" name="telegram_account" type="text" value="{{campaign.telegram_account}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_token" name="telegram_token" type="text" value="{{campaign.telegram_token}}" >
                        </td>

                        <td>
                            <span id="fb-validate-button" class="btn btn-primary text-uppercase m-r-sm" title="vaildate"></span>
                        </td>

                    </tr>

                    </tbody>
                </table>-->




                </div><!-- /row -->



        </div>
	</div>
    </form>
</template>

<template name="CampaignsEditEditForm">



</template>

