<template name="QR" xmlns="http://www.w3.org/1999/html">
    {{> QRView}}
</template>

<template name="QRView">

        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-8 col-md-10">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                                <li class=""><a class="btn btn-link text-ellipsis text-uppercase" href="{{pathFor route='campaigns'}}">Campaigns</a></li>
                                <li class="active"><a class="btn btn-link text-ellipsis " href="/campaigns/edit/{{campaignId}}">{{campaignName}}</a></li>
                                <li class="active"><a class="btn btn-link text-primary" href="">Quick Replies</a></li>
                                <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                                <li class="active"><a class="btn btn-link text-primary text-ellipsis" href="">General Channel</a></li>-->
                                <!--<li class="active"><a class="btn btn-link text-primary" href="">Campaign Name</a></li>-->
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2">
                        <div class="pull-right hidden-sm hidden-xs">
                            <form id="dataview-controls" class="form-inline" style="margin-bottom:0">
                                <!-- <div id="dataview-controls-search">
                                {{#if isNotEmpty}}
                                    <div id="dataview-controls-search-group" class="form-group m-b-none">
                                        <div class="btn-group" style="max-width:210px">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="dataview-search-input" placeholder="Search Campaigns..." name="search" value="{{searchString}}" autofocus="autofocus">
					                		<span class="input-group-btn">
					                			<button type="button" id="dataview-search-button" class="btn btn-default"><i class="fa fa-search"></i></button>
					                		</span>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>-->
                                <!--div id="dataview-controls-export" class="form-group m-b-none">
								{{#if isNotEmpty}}
                                    {{#if isFound}}
										<div></div>
										{{else}}
										<div class="btn-group m-l-sm">
						                    <button data-toggle="dropdown" class="btn btn-default text-uppercase dropdown-toggle" aria-expanded="false"><i class="fa fa-download m-r-xs"></i> Download Report <span class="caret"></span></button>
						                    <ul class="dropdown-menu" style="width:100%">
						                        <li><a id="dataview-export-csv" href="#">Export results to CSV</a></li>
						                        <li><a id="dataview-export-tsv" href="#">Export results to TSV</a></li>
						                        <li><a id="dataview-export-json" href="#">Export results to JSON</a></li>
						                    </ul>
						                </div>
									{{/if}}
                                {{/if}}
							</div-->
                                <div id="dataview-controls-insert" class="form-group m-b-none">
                                    <button type="submit" id="dataview-insert-button" class="btn btn-primary text-uppercase m-l-sm">
                                        new Quick Reply
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class=" help-header" id="chatsuite-introdution" style="margin-right: 25px; background:#f1f1f1">
        <div class="" >
            <div class="row" style=" padding-left: 30px;">
                <div class="col-lg-6" >
                    <img class="fullwidth" style="max-height: 150px; display: block; margin-left: auto; margin-right: auto;" src="/images/icon-help-campaigns.svg">
                </div>
                <div class="col-lg-6">
                    <div class="help-text-1 " style="margin-top: 5px; margin-bottom: 5px">
                        <button type="button" class="close" data-target="#chatsuite-introdution" data-dismiss="alert"> <span aria-hidden="true" style="float: right; color: #3c2e33;">&times;</span><span class="sr-only">Close</span></button>
                        Facebook Quick Replies are an easy way to help your chatters navigate your bot
                    </div>
                    <div class="help-text-2 m-b-30" style="margin-bottom: 5px;">
                        On this page, you can create and edit your Quick Replies. Note: Facebook limits Quick Replies to 11 for your entire bot.
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="content" id="content">
            <div id="qr-view" class="row">


                {{#if isNotEmpty}}
                    {{#if isNotFound}}
                        <div class="col-lg-12 alert alert-danger">
                            "{{searchString}}" not found.
                        </div>
                    {{else}}
                        <div id="dataview-data" class="col-lg-12">
                            {{#if viewAsTable}} {{> QRViewTable}} {{/if}}
                        </div>
                    {{/if}}
                {{else}}
                    <div class="col-lg-12 alert alert-info text-center" style="border: none;  border-radius:0px; background-color: #0bbbef; font-size: 20px">
                        You have no quick replay items. Start creating your first one!
                    </div>
                {{/if}}
            </div>
        </div>



</template>

<template name="QRViewTable">
    <table id="dataview-table" class="table table-hover" >
      <!--  <colgroup>
            <col span="1" width="10%">
            <col span="1" width="20">
            <col span="1" width="20%">
            <col span="1" width="20%">
            <col span="1" width="10%">
        </colgroup>-->
        <thead id="dataview-table-header">
        <tr id="dataview-table-header-row">

            <th class="th-sortable" data-sort="fbPageId">FB page ID  &nbsp;<span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
            <th class="th-sortable" data-sort="campaignName">Campaign Name &nbsp;<span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
            <th class="th-sortable" data-sort="cdate">Created On &nbsp;<span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
            <th class="th-sortable" data-sort="mdate">Modify On &nbsp;<span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="dataview-table-items">
        {{#each tableItems}} {{> QRViewTableItems}} {{/each}}
        </tbody>
    </table>
</template>

<template name="QRViewTableItems">
    <tr id="dataview-table-items-row" class="tr-editable">
        <td  class="va-middle ">{{fbPageID}}</td>
        <td  class="va-middle ">{{campaignName}}</td>
        <td class="va-middle ">{{formatDate modifiedAt 'MM-DD-YYYY'}}</td>
        <td class="va-middle ">{{formatDate createdBy 'MM-DD-YYYY'}}</td>
        <td class="va-middle td-icon ">
            <span data-toggle="tooltip" data-placement="top" id="edit-button" class="{{editButtonClass}}" title="Edit"><img src="/images/icon-cms-edit.svg"></span>
        </td>
        <td class="va-middle td-icon ">
			<span data-toggle="tooltip" data-placement="top" id="delete-button" class="{{deleteButtonClass}}" title="Delete"><img src="/images/icon-cms-delete.svg"></span>
        </td>

    </tr>

</template>

