<template name="QRInsert">
    {{> QRInsertInsertForm}}
</template>

<template name="QRInsertInsertForm">
    <form role="form">
        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-6 col-md-6">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                                <li class=""><a class="btn btn-link text-uppercase text-ellipsis"  href="{{pathFor route='campaigns'}}">Campaigns</a></li>
                                <li class=""><a class="btn btn-link text-ellipsis " href="/campaigns/edit/{{campaignId}}">{{campaignName}}</a></li>
                                <li class="active"><a class="btn btn-link text-primary" href="">New Quick Reply</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pull-right">
                            <!--<a id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">Cancel</a>-->
                            <!--<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save & Open Editor</a>-->
                            <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                                Cancel
                            </button>
                            <button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                                Create Quick Reply
                            </button>


                            <!--{{> CBuilder }}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="content">
            <div id="qr-insert-insert-form" class="">

                <div class="row">
                    <div class="col-lg-12">
                        {{#if errorMessage}}
                            <div class="alert alert-warning">
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        {{#if infoMessage}}
                            <div class="alert alert-success">
                                {{infoMessage}}
                            </div>
                        {{/if}}
                    </div>
                </div>

                <div class="hpanel">
                    <div class="panel-body" style="padding: 0px;">
                        <div style="padding:100px 100px 100px 150px">

                    <div class="form-group  field-cardID">
                        <label for="cardID">
                            Facebook Page ID
                        </label>
                        <div class="input-div">
                            <input type="text" name="fbPageID" value="" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
                        </div>
                    </div>






                    <div id="buttonsID">
                        <!--s-button -->

                        <!-- s-button 1-->
                        <div class="form-group  field-description">
                            <label for="b1type" class="control-label col-sm-2">
                                Quick Reply 1
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button1Type"
                                       value=""
                                       class="form-control">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group  field-description">
                            <label class="control-label col-sm-2" for="button1Data">
                                Quick Reply 1 Destination
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button1Data"
                                       value=""
                                       class="form-control"
                                       data-toggle="tooltip" data-placement="top" title="Set where this menu option will take the user">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group  field-description">
                            <label class="control-label col-sm-2" for="button1Label">
                                Quick Reply 1 Label
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button1Label"
                                       value=""
                                       class="form-control">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>
                        <!-- e-button -->

                        <!-- s-button 2-->
                        <div class="form-group  field-description">
                            <label for="b2type"  class="control-label col-sm-2">
                                Quick Reply 2
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button2Type"
                                       value=""
                                       class="form-control">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group  field-description">
                            <label class="control-label col-sm-2" for="button2Data">
                                Quick Reply 2 Destination
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button2Data"
                                       value=""
                                       class="form-control"
                                       data-toggle="tooltip" data-placement="top" title="Set where this menu option will take the user">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group  field-description">
                            <label class="control-label col-sm-2" for="button2Label">
                                Quick Reply 2 Label
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button2Label"
                                       value=""
                                       class="form-control">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>
                        <!-- e-button -->

                        <!-- s-button 3-->
                        <div class="form-group  field-description">
                            <label for="b3type"  class="control-label col-sm-2">
                                Quick Reply 3
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button3Type"
                                       value=""
                                       class="form-control">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group  field-description">
                            <label class="control-label col-sm-2" for="button3Data">
                                Quick Reply 3 Destination
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button3Data"
                                       value=""
                                       class="form-control"
                                       data-toggle="tooltip" data-placement="top" title="Set where this menu option will take the user">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group  field-description">
                            <label class="control-label col-sm-2" for="button3Label">
                                Quick Reply 3 Label
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="button3Label"
                                       value=""
                                       class="form-control">
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>
                        <!-- e-button -->



                        <div id="buttonsQR">


                            <!-- s-button 4-->
                            <div class="form-group  field-description">
                                <label for="b4type"  class="control-label col-sm-2">
                                    Quick Reply 4
                                </label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="button4Type"
                                           value=""
                                           class="form-control">
                                    <span id="help-text" class="help-block"></span>
                                    <span id="error-text" class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group  field-description">
                                <label class="control-label col-sm-2" for="button4Data">
                                    Quick Reply 4 Destination
                                </label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="button4Data"
                                           value=""
                                           class="form-control"
                                           data-toggle="tooltip" data-placement="top" title="Set where this menu option will take the user">
                                    <span id="help-text" class="help-block"></span>
                                    <span id="error-text" class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group  field-description">
                                <label class="control-label col-sm-2" for="button4Label">
                                    Quick Reply 4 Label
                                </label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="button4Label"
                                           value=""
                                           class="form-control">
                                    <span id="help-text" class="help-block"></span>
                                    <span id="error-text" class="help-block"></span>
                                </div>
                            </div>
                            <!-- e-button -->



                            <!-- s-button 5-->
                            <div class="form-group  field-description">
                                <label for="b3type"  class="control-label col-sm-2">
                                    Quick Reply 5
                                </label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="button5Type"
                                           value=""
                                           class="form-control">
                                    <span id="help-text" class="help-block"></span>
                                    <span id="error-text" class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group  field-description">
                                <label class="control-label col-sm-2" for="button5Data">
                                    Quick Reply 5 Destination
                                </label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="button5Data"
                                           value=""
                                           class="form-control"
                                           data-toggle="tooltip" data-placement="top" title="Set where this menu option will take the user">
                                    <span id="help-text" class="help-block"></span>
                                    <span id="error-text" class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group  field-description">
                                <label class="control-label col-sm-2" for="button5Label">
                                    Quick Reply 5 Label
                                </label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="button5Label"
                                           value=""
                                           class="form-control">
                                    <span id="help-text" class="help-block"></span>
                                    <span id="error-text" class="help-block"></span>
                                </div>
                            </div>
                            <!-- e-button -->


                        </div>




                    </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

