
#content .hpanel .nav-tabs > li > a {
	padding: 3px 15px;
}

.container .text-muted {
	text-align: right;	
}

.perhide{
	display: none;
}
.tooltip > .tooltip-inner {
	border-radius: 0;
	padding: 15px;
	opacity: 1 !important;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
.tooltip > .tooltip-arrow {opacity:1 !important;}
.table > tbody > tr > td {
	padding: 30px 15px;
}

.btn{
	font-size: 10px;
}

div.transbox {
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
}

.help-header{
	margin: 62px 0 -68px 0;
	padding: 0 0  0;
}

.help-text-1{
	color: #3c2e33;
	background-color: transparent;
	border-color: transparent;
	font-size: 32px;
	line-height: 1;
	font-weight: 400;
	font-family: 'Proxima Nova', sans-serif;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.help-text-2{
	color: #3c2e33;
	background-color: transparent;
	border-color: transparent;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	font-family: 'Proxima Nova', sans-serif;
	margin-bottom: 30px;
}

.table > tbody > tr > td:first-child {
	padding-left:150px;
 }
.table > tbody > tr > td:last-child {
	padding-right:25px;
}
.table > thead > tr > th {
	padding: 20px 15px;
}
.alert {
	margin-left: 15px;
}

.table > thead > tr > th:first-child {
	padding-left:150px;
}
.table > thead > tr > th:last-child {
	padding-right:25px;
}
.app-editor-container {
	padding-top: 10px;
}

.app-editor#content {
	margin: 0;
	padding: 0;
	width: 100%;
}

.object-tab-menu {
	margin-bottom: 0;
	border-bottom: none;
}

.object-form-container {
	overflow-y: auto;
	margin-bottom: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.object-tree-container {
	overflow-y: auto;
	margin-bottom: 5px;
}

.object-tree .object-item {
	font-weight: bold;
}

.object-tree .array-item {
	font-weight: bold;
}

#page_menu .nav {
	margin-top: 10px;
}

.build-info {
	display: none;
}

.app-editor-error {
	display: none;
}

.dynamic-form .form-group {
	margin-bottom: 0;
}

.jumbotron {
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

.jumbotron h1 {
	font-weight: bold;
}

.jumbotron-content {
	display: table;
	width: 100%;
}

.jumbotron-content-row {
	display: table-row;
}

.jumbotron-cell {
	display: table-cell;
	vertical-align: top;
}

.td-icon .fa {
	color: #999;
}

.td-icon:hover .fa {
	color: #eee;
}


.codeMirror {
	font-size: 14px;	
}

.console-div {
	background: #0c1021;
	color: #f0f0f0;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	overflow: auto;
	height: 100%;
	padding: 0 10px;
}

.btn-toolbar {
	margin-bottom: 5px;
}

.dagre-container {
	margin-bottom: 5px;

	text {
		font-weight: 300;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
		font-size: 14px;
	}

	.node rect {
		stroke: #ffffff;
		fill: #77b300;
		stroke-width: 1.5px;
		cursor: pointer;
	}

	.node.selected rect {
		fill: #2a9fd6;
	}

	.node .label {
		fill: #fff;
		cursor: pointer;
	}

	.edgePath path.path {
	  stroke: #fff;
	  fill: none;
	  stroke-width: 1.5px;
	}

	.edgePath marker {
		fill: #fff;
	}
}
