<template name="C_CampaignsDetailsItems">
    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-lg-8 col-md-10">
                    <div id="hbreadcrumb" class="">
                        <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                            <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                            <li class="active"><a class="btn btn-link text-primary text-ellipsis" href="">General Channel</a></li>-->
                            <!--<li class="active"><a class="btn btn-link text-primary" href="">Campaign Name</a></li>-->

                                <li class=""><a class="btn btn-link text-ellipsis text-uppercase" href="{{pathFor 'cms'}}">Campaigns</a></li>
                                <li class=""> <a class="btn btn-link text-ellipsis " href="/cms/sections?id={{cms_campaign_details.campaignName}}&cid={{cms_campaign_details._id}}">{{cms_campaign_details.campaignName}}</a></li>
                                <li class="active"><a class="btn btn-link text-primary" href="">{{sectionName}}</a></li>

                        </ol>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2">
                    <div class="pull-right hidden-sm hidden-xs"  style="padding-right: 10px">
                        <form id="dataview-controls" class="form-inline" style="margin-bottom:0">
                           <!-- <div id="dataview-controls-search">
                                {{#if isNotEmpty}}
                                    <div id="dataview-controls-search-group" class="form-group m-b-none">
                                        <div class="btn-group" style="max-width:210px">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="dataview-search-input" placeholder="Search Campaigns..." name="search" value="{{searchString}}" autofocus="autofocus">
					                		<span class="input-group-btn">
					                			<button type="button" id="dataview-search-button" class="btn btn-default"><i class="fa fa-search"></i></button>
					                		</span>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>-->
                            <!--div id="dataview-controls-export" class="form-group m-b-none">
								{{#if isNotEmpty}}
                                {{#if isFound}}
										<div></div>
										{{else}}
										<div class="btn-group m-l-sm">
						                    <button data-toggle="dropdown" class="btn btn-default text-uppercase dropdown-toggle" aria-expanded="false"><i class="fa fa-download m-r-xs"></i> Download Report <span class="caret"></span></button>
						                    <ul class="dropdown-menu" style="width:100%">
						                        <li><a id="dataview-export-csv" href="#">Export results to CSV</a></li>
						                        <li><a id="dataview-export-tsv" href="#">Export results to TSV</a></li>
						                        <li><a id="dataview-export-json" href="#">Export results to JSON</a></li>
						                    </ul>
						                </div>
									{{/if}}
                            {{/if}}
							</div-->
                            <div id="dataview-controls-insert" class="form-group m-b-none">
                                <button type="submit" id="dataview-insert-button" class="btn btn-primary text-uppercase m-l-sm">
                                    New Content Item
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="container" id="title_row">
         <div class="block-header pull-left">
            <h2 class="breadcrumb-item"><a class="" href="{{pathFor 'cms'}}">Campaigns</a></h2>
            <h2 class="breadcrumb-item point">&middot;</h2>
            <h2 class="breadcrumb-item">Project Detail - {{cms_campaign_details.campaignName}}</h2>
         </div>
         <ul class="actions pull-right">
            <li class="">
               <a href="" style="width:150px">
                  <span class="c-gray">
                     <i class="zmdi zmdi-check" style="margin-right:5px"></i> Saved 2 min ago
                  </span>
               </a>
            </li>
         </ul>
      </div> -->

        <div class="content" id="content">
            {{> C_CampaignsDetailsItemsView}}
        </div>

</template>

<template name="C_CampaignsDetailsItemsView">

    <div id="campaigns-details-items-view" class="row">
        {{#if isNotEmpty}}
            {{#if isNotFound}}
                <div class="col-lg-12 alert alert-danger">
                    "{{searchString}}" not found.
                </div>
            {{else}}
                <div id="dataview-data" class="col-lg-12">
                    {{#if viewAsTable}} {{> C_CampaignsDetailsItemsViewTable}} {{/if}}
                </div>
            {{/if}}
        {{else}}
            <div class="col-lg-12 alert alert-info text-center" style="border: none;  border-radius:0px; background-color: #0bbbef; font-size: 20px">
                You have no items. Start creating your first one!
            </div>
        {{/if}}
    </div>
</template>

<template name="C_CampaignsDetailsItemsViewTable">
    <table id="dataview-table" class="table " >

        <thead id="dataview-table-header">
        <tr id="dataview-table-header-row" >
            <th class="th-sortable" data-sort="index">ID &nbsp;<span class="m-r-sm"><!--<i class="fa fa-sort"></i>--><img src="/images/icon-table-header-sort.svg"></span></th>
            <th class="th-sortable"  data-sort="title">Content Name &nbsp;<span class="m-r-sm"><!--<i class="fa fa-sort"></i>--><img src="/images/icon-table-header-sort.svg"></span></th>
            <th class="th-sortable" data-sort="startDate">Start date &nbsp;<span class="m-r-sm"><!--<i class="fa fa-sort"></i>--><img src="/images/icon-table-header-sort.svg"></span></th>
            <th class="th-sortable" data-sort="endDate">End date &nbsp;<span class="m-r-sm"><!--<i class="fa fa-sort"></i>--><img src="/images/icon-table-header-sort.svg"></span></th>
            <!--<th class="th-sortable" data-sort="status">Status</th>-->
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="dataview-table-items" >
        {{#each tableItems}}
            {{> C_CampaignsDetailsItemsViewTableItems}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="C_CampaignsDetailsItemsViewTableItems">
    <tr id="dataview-table-items-row">
        <td class="va-middle "></td>
        <td class="va-middle ">{{title}}</td>
        <td  class="va-middle ">{{formatDate sdate 'MM-DD-YYYY'}}</td>
        <td class="va-middle ">{{formatDate edate 'MM-DD-YYYY'}}</td>

            <!--{{#if active1}}-->
        <!--<td><span class="badge bgm-green">Active</span></td>-->
            <!--{{/if}}-->
            <!--{{#if scheduled1}}-->
        <!--<td><span class="badge bgm-orange">Scheduled</span></td>-->
            <!--{{/if}}-->
            <!--{{#if inactive1}}-->
        <!--<td><span class="badge bgm-gray">Inactive</span></td>-->
            <!--{{/if}}-->

        <!--<td><span class="badge bgm-green">{{statusData}}</span></td>-->
        <!--   <td>{{statusData}}</td>-->


        <td class="td-icon va-middle">
            <span data-toggle="tooltip" data-placement="top" id="edit-button" title="Edit"><img src="/images/icon-cms-edit.svg"></span>
        </td>
        <td class="td-icon va-middle">
            <span data-toggle="tooltip" data-placement="top" id="clone-button"  title="Duplicate"><img src="/images/icon-cms-duplicate.svg"></span>
        </td>
        <td class="td-icon va-middle">
            <span data-toggle="tooltip" data-placement="top" id="delete-button" title="Delete"><img src="/images/icon-cms-delete.svg"></span>
        </td>
    </tr>
</template>