<template name="CampaignsEditor">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe
                style="height: 98%;"
                class="embed-responsive-item"
                src="/cBuilder/chart_tabs.html?id={{time}}&cName={{campaign.name}}"></iframe>
    </div>
    <!-- <a id="openEditor"
       class="various fancybox.iframe btn btn-primary text-uppercase m-l-sm"
       href="https://demo.chatsuite.im?session={{token}}">
        <i class="fa fa-pencil m-r-xs"></i>
        Open CMS
    </a>-->



</template>

