<template name="C_Campaigns">
    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-lg-4 col-md-2">
                    <div id="hbreadcrumb" class="">
                        <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                            <!--<li class="active"><a class="btn btn-link text-primary text-uppercase" href="{{pathFor route='campaigns'}}">Campaigns</a></li>-->
                            <li class="active"><a class="btn btn-link text-primary text-uppercase" href="{{pathFor 'cms'}}">Campaigns</a></LI>

                            <li class="active">
                                <a target="_blank" class="btn btn-link text-primary text-uppercase" href="https://www.facebook.com/messages/t/Eurosportapi">Test
                                </a>


                            </LI>





                            <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                            <li class="active"><a class="btn btn-link text-primary text-ellipsis" href="">General Channel</a></li>-->
                            <!--<li class="active"><a class="btn btn-link text-primary" href="">Campaign Name</a></li>-->
                        </ol>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10">
                    <div class="pull-right hidden-sm hidden-xs" style="padding-right: 10px">
                        <form id="dataview-controls" class="form-inline" style="margin-bottom:0">
                            <div id="dataview-controls-search">
                                {{#if isNotEmpty}}
                                    <div id="dataview-controls-search-group" class="form-group m-b-none">
                                        <div class="btn-group" style="max-width:210px">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="dataview-search-input" style="height: 32px" placeholder="Search Campaigns..." name="search" value="{{searchString}}" autofocus="autofocus">
					                		<span class="input-group-btn">
					                			<button type="button" id="dataview-search-button" class="btn btn-default"><i class="fa fa-search"></i></button>
					                		</span>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <!--div id="dataview-controls-export" class="form-group m-b-none">
								{{#if isNotEmpty}}
                                {{#if isFound}}
										<div></div>
										{{else}}
										<div class="btn-group m-l-sm">
						                    <button data-toggle="dropdown" class="btn btn-default text-uppercase dropdown-toggle" aria-expanded="false"><i class="fa fa-download m-r-xs"></i> Download Report <span class="caret"></span></button>
						                    <ul class="dropdown-menu" style="width:100%">
						                        <li><a id="dataview-export-csv" href="#">Export results to CSV</a></li>
						                        <li><a id="dataview-export-tsv" href="#">Export results to TSV</a></li>
						                        <li><a id="dataview-export-json" href="#">Export results to JSON</a></li>
						                    </ul>
						                </div>
									{{/if}}
                            {{/if}}
							</div-->
                           <!-- <div id="dataview-controls-insert" class="form-group m-b-none">
                                <button type="submit" id="dataview-insert-button" class="btn btn-primary text-uppercase m-l-sm"> New Campaign</button>
                            </div>-->

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- div class="lv-header-alt clearfix" style="padding-left:113px">
        <div class="col-sm-6">
            <div class="block-header pull-left">
                <h2 class="breadcrumb-item"><a class="" href="{{pathFor 'cms'}}">Campaigns</a></h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <button type="submit" id="dataview-insert-button" class="btn btn-primary">
                    New campaign
                </button>
                <form class="pull-right">

                    <script>
                        $('.lvh-search-trigger').on('click', function(){
                            $('.lvh-search').toggleClass('hidden');
                        });
                        $('.lvh-search-close').on('click', function(){
                            $('.lvh-search').toggleClass('hidden');
                        });
                    </script>
                    <div class="lvh-search hidden">
                        <input type="text" class="lvhs-input" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
                        <span class="lvh-search-close">×</span>
                    </div>
                    <ul class="lv-actions actions">
                        {{#if isNotEmpty}}
                            <li>
                                <a href="#" class="lvh-search-trigger">
                                    <span class="zmdi zmdi-search"></span>
                                </a>
                            </li>
                        {{/if}}
                    </ul>
                        {{#if isNotEmpty}}
                   <div id="dataview-controls-export" class="">
                        {{#if isFound}}
                        <div></div>
                            {{else}}
                           {{/if}}
                    </div>
                        {{/if}}
                </form>
            </div>
        </div>
    </div>-->

    <div class=" help-header" id="chatsuite-introdution" style="margin-right: 25px; background:#f1f1f1">
        <div class="" >
            <div class="row">
                <div class="col-sm-6" style=" padding-left: 30px;" >
                    <img class="fullwidth" style="max-height: 150px; display: block; margin-left: auto; margin-right: auto;" src="/images/icon-help-campaigns.svg">
                </div>
                <div class="col-sm-6">
                    <div class="help-text-1" >
                        <button type="button" class="close" data-target="#chatsuite-introdution" data-dismiss="alert"> <span aria-hidden="true" style="float: right; color: #3c2e33;">&times;</span><span class="sr-only">Close</span></button>
                        The Chatsuite CMS allows you to create and manage your bot content.
                    </div>

                    <!--<button onclick="window.location.href='https://www.facebook.com/messages/t/Eurosportapi'">Test</button>-->



                    <!--<div class="help-text-2 m-b-30">
                        Here you can create new sections ex: Galleries, buttons, Images.
                    </div>-->
                </div>
            </div>
        </div>
    </div>

	<div  class="content" id="content">
		<!-- <div class="container" id="title_row">
			<div class="block-header pull-left">
				<h2 class="breadcrumb-item">Campaigns</h2>
			</div>
			<ul class="actions pull-right">
				<li class="">
					<a href="" >
						<span class="c-gray">
							<span class="zmdi zmdi-refresh"></span>
						</span>
					</a>
				</li>
			</ul>
		</div> -->

			{{> C_CampaignsView}}

	</div>
</template>

<template name="C_CampaignsView">
	<div id="campaigns-view"  class="row">


					{{#if isNotEmpty}}
                        {{#if isNotFound}}
                        <div class="col-lg-12 alert alert-danger">
                            "{{searchString}}" not found.
                        </div>
                        {{else}}
                        <div id="dataview-data" class="col-lg-12">
                            {{#if viewAsTable}} {{> C_CampaignsViewTable}} {{/if}}
                        </div>
                        {{/if}}
					{{else}}
                        <div class="col-lg-12 alert alert-info text-center" style="border: none;  border-radius:0px; background-color: #0bbbef; font-size: 20px">
                            You have no campaigns. Start creating your first one!



                        </div>
					{{/if}}


	</div>
</template>

<template name="C_CampaignsViewTable">
	<table id="dataview-table" class="table table-hover">
		<!--<colgroup>
			<col width="65%" />
			<col width="20%" />
			<col width="15%" />
		</colgroup>-->
		<thead id="dataview-table-header">
		<tr id="dataview-table-header-row">
			<th class="th-sortable"  data-sort="campaignName">Campaign Title &nbsp;<span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
			<th class="th-sortable"  data-sort="date" style="padding-right: 25px; ">Created &nbsp;<!--<i class="fa fa-sort"></i>--><span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>


            <th class="th-sortable"  data-sort="campaignName">
                <a target="_blank" href="https://www.facebook.com/messages/t/Eurosportapi">Test
                </a>

                <!--<button onclick="window.location.href='https://www.facebook.com/messages/t/Eurosportapi'">Test</button>-->


            </th>


		</tr>
		</thead>
		<tbody id="dataview-table-items">
		{{#each tableItems}} {{> C_CampaignsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="C_CampaignsViewTableItems">
    <tr id="dataview-table-items-row" class="tr-editable">

        <td  class="va-middle">
           {{campaignName}}
        </td>
        <td class="va-middle">
            {{formatDate date 'MM-DD-YYYY'}}
        </td>
        <td class="va-middle">
            <a target="_blank" href="https://www.facebook.com/messages/t/Eurosportapi">Link</a>
        </td>



	</tr>
</template>

