<template name="cms">
    <div class="embed-responsive embed-responsive-16by9">
    <iframe
            class="embed-responsive-item"
            src="https://demo.chatsuite.im/?session={{token}}"></iframe>
</div>
   <!-- <a id="openEditor"
       class="various fancybox.iframe btn btn-primary text-uppercase m-l-sm"
       href="https://demo.chatsuite.im?session={{token}}">
        <i class="fa fa-pencil m-r-xs"></i>
        Open CMS
    </a>-->



</template>



