// Import Google font
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

// Color list
@color-navy-blue:#0BBBEF;
@color-violet:#9b59b6;
@color-blue:#3498db;
@color-green:#27c24c;
@color-yellow:#fad733;
@color-orange:#e67e22;
@color-red:#f05050;
@color-red-deep:#c0392b;

// Additional colors
@color-text: #2e2e2e;
@color-text-muted: #b4b4b4;
@color-bright: #fefefe;
@color-white: #ffffff;
@color-background-dark: #2e2e2e;
@color-background-dark-lighter: #545454;
@color-background: #efefef;
@color-background-boxed: lighten(@color-background, 3%);
@border-color: #dedede;

// Additional variables
@menu-width: 180px;
@main-transition: all 0.1s ease-out 0s;


// Import all styles
@import "globals/margins.import.less";
@import "globals/alerts.import.less";
@import "globals/modal.import.less";
@import "globals/progress_bar.import.less";
@import "globals/login.import.less";
@import "globals/timeline.import.less";
@import "globals/contact.import.less";
@import "globals/calendar.import.less";
@import "globals/text_editor.import.less";
@import "globals/grid.import.less";
@import "globals/dropdown.import.less";
@import "globals/chat.import.less";
@import "globals/buttons.import.less";
@import "globals/fonts.import.less";
@import "globals/icheck.import.less";
@import "globals/layout.import.less";
@import "globals/lists.import.less";
@import "globals/panels.import.less";
@import "globals/tabs.import.less";
@import "globals/tooltip.import.less";
@import "globals/various.import.less";
@import "globals/base.import.less";
@import "globals/projects.import.less";
@import "globals/social_board.import.less";
@import "globals/nestable_list.import.less";
@import "globals/tour.import.less";
@import "globals/blog.import.less";
@import "globals/forum.import.less";
@import "globals/wizard.import.less";
@import "globals/mailbox.import.less";

// Styles for landing page
@import "globals/landing.import.less";


