<!--
<template name="layout">

   
    {{>splash }}

    
    {{> header }}

    
    {{> navigation }}

    
    <div id="wrapper">
        {{> yield}}

        
        {{> rightSidebar }}

        
        {{> footer }}
    </div>

</template>
-->

<template name="layout">

 {{>splash }}

{{#if currentUser}}

{{> header }}
{{else}}
    <script>
    $("#wrapper").css("margin", "0");
    $("#wrapper").css("top", "0");
    </script>

{{/if}}

{{#if currentUser}}

{{> navigation }}
{{else}}

{{/if}}


    <div id="wrapper" style="border-left: none;">
        {{> yield}}

        
        {{> rightSidebar }}

        
        {{> footer }}
    </div>

	{{#if currentUser}}
		{{> PrivateLayout}}
	{{else}}

		{{> PublicLayout}}
	{{/if}}




</template>

<template name="PublicLayout">


</template>


<!--
<template name="PublicLayout">

	
        <div id="content0" class="sticky0-wrapper0">
		<div id="navbar0" class="navbar0 navbar0-inverse0 navbar0-fixed0-top0" role="navigation">



			<div class="navbar0-container0 container0">
				<div class="navbar0-header0">
					<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="#">
						Example application
					</a>
				</div>
				div id="menu" class="collapse navbar-collapse">
					{{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar0-spacer0">
		</div>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
			<p class="text-muted">
			</p>
		</div>
	</div>
        
</template>
-->

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				<span class="item-title">
					Home
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'register'}}">
			<a href="{{pathFor 'register'}}">
				<span class="item-title">
					Register
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				<span class="item-title">
					Login
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayout">



<!--
       <div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="#">
						Example application
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PrivateLayoutLeftMenu}}{{> PrivateLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
			<p class="text-muted">
			</p>
		</div>
	</div>

        

-->
</template>

<template name="PrivateLayoutLeftMenu">
	<!--<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_private'}}">
			<a href="{{pathFor 'home_private'}}">
				<span class="item-title">
					Home
				</span>
			</a>
		</li>
	</ul>-->
</template>

<template name="PrivateLayoutRightMenu">
	<!--<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="item-title">
					{{userEmail}}
				</span>
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="{{menuItemClass 'user_settings'}}">
					<a href="{{pathFor 'user_settings'}}">
						<span class="item-title">
							Settings
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'logout'}}">
					<a href="{{pathFor 'logout'}}">
						<span class="item-title">
							Logout
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>-->
</template>


