<template name="SectionsDetails">
    <div id="content">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        <div class="container">
            {{> SectionsDetailsDetailsForm}}
        </div>
        <div class="row">
            <div class="col-md-12" id="menu">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="subcontent">
                {{> yield region='SectionsDetailsSubcontent'}}
            </div>
        </div>
    </div>
</template>

<template name="SectionsDetailsDetailsForm">
    <div class="row">
        <div class="col-sm-12">
            <a href="#" id="form-back-button" class="btn btn-default btn-back" title="back">
                <span class="zmdi zmdi-arrow-back"></span>
            </a>
        </div>
    </div>
    <div id="sections-details-details-form" class="">
        <form role="form" class="form-horizontal">
            {{#if errorMessage}}
            <div class="alert alert-warning">
                {{errorMessage}}
            </div>
            {{/if}}

            {{#if infoMessage}}
            <div class="alert alert-success">
                {{infoMessage}}
            </div>
            {{/if}}
            <div class="form-group">
                <div class="submit-div col-sm-9 col-sm-offset-3">
                </div>
            </div>
        </form>
    </div>
</template>

