<template name="C_CampaignsEdit">
    {{> C_CampaignsEditEditForm}}
</template>

<template name="C_CampaignsEditEditForm">
    <form role="form">
        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-6 col-md-6">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                                <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                                <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
                                <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='cms'}}">Campaigns</a></li>
                                <li class="active">{{cms_campaign_details.campaignName}}</li>
                                <li class="active"><a class="btn btn-link text-primary" href="">Edit Campaign</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pull-right">

                            <!--<a id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">Cancel</a>-->
                            <!--<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save & Open Editor</a>-->
                            <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                                Cancel
                            </button>
                            <button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                                Save Campaign
                            </button>



                            <!--{{> CBuilder }}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="content">

            <div id="campaigns-edit-edit-form">
               <!-- <div class="lv-header-alt clearfix">

                    <div class="col-sm-6">
                        <div id="#dataview-controls"
                             class="pull-right"
                             style="padding-left: 10px;">
                            <a href="/qr?id={{cms_campaign_details.campaignName}}" id="0form-sections-button" class="btn btn-primary">
                                <span class="zmdi zmdi-plus"></span> FACEBOOK QUICKREPLIES
                            </a>
                        </div>
                        <div id="#dataview-controls"
                             class="pull-right"
                             style="padding-left: 10px;">
                            <a href="/menu?id={{cms_campaign_details.campaignName}}" id="0form-sections-button" class="btn btn-primary">
                                <span class="zmdi zmdi-plus"></span> FACEBOOK MENU
                            </a>
                        </div>
                       <!- <div id="#dataview-controls"
                             class="pull-right"
                             style="padding-left: 10px;">
                            <a href="/sections?id={{cms_campaign_details.campaignName}}" id="0form-sections-button" class="btn btn-primary">
                                <span class="zmdi zmdi-plus"></span> Sections
                            </a>
                        </div> ->

                    </div>
                </div>-->
        <div class="row">
            <div class="col-lg-12">
                {{#if errorMessage}}
                    <div class="alert alert-warning">
                        {{errorMessage}}
                    </div>
                {{/if}}

                {{#if infoMessage}}
                    <div class="alert alert-success">
                        {{infoMessage}}
                    </div>
                {{/if}}
            </div>
        </div>

        <div class="hpanel">
            <div class="panel-body" style="padding: 0px;">
                <div style="padding:100px 100px 100px 150px">
                    <div class="row">
                        <div class="col-lg-6">
                        <div class="form-group text-left field-campaign-name">
                            <label for="campaignName">Campaign Name</label>
                            <div class="input-div">
                                <input type="text" name="campaignName" value="{{cms_campaign_details.campaignName}}" class="form-control" autofocus="autofocus" required="required">
                                <span id="help-text" class="help-block"></span>
					            <span id="error-text" class="help-block"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group text-left field-date">
                            <label for="date">Campaign date</label>
                            <div class="input-div">
                                <div class="input-group date">
                                    <input type="text"
                                           name="date"
                                           value="{{formatDate cms_campaign_details.date 'MM-DD-YYYY'}}"
                                           class="form-control"
                                           required="required"
                                           data-type="date"
                                           data-format="MM-DD-YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>
                        </div>
                    </div>
                        <!--<div class="form-group  field-customer-id">
                            <label for="customerId">Customer</label>
                            <div class="input-div">
                                <select class="form-group" name="customerId" required="required">
                                    {{#each cms_customer_list}}
                                    <option value="{{_id}}" {{optionIsSelected ../campaign_details.customerId _id}}>							{{name}}</option>
                                    {{/each}}
                                </select>
                                <span id="help-text" class="help-block"></span>
                                <span id="error-text" class="help-block"></span>
                            </div>
                        </div>-->

                        <div class="clearfix"></div>
                        <!--<h3>Bot settings</h3>-->

                        <!--<div class="row">-->
                            <!--<div class="form-group col-sm-6">-->
                                <!--<div class="input-div form-filed">-->
                                    <!--<input type="text" class="form-control" name="botRelativeURL" id="botRelativeURL" placeholder="Insert bot relative url here" value="{{cms_campaign_details.botRelativeURL}}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-sm-6">-->
                                <!--<div class="input-div form-filed">-->
                                <!--<input type="text"-->
                                       <!--class="form-control"-->
                                       <!--name="botPageID"-->
                                       <!--id="botPageID"-->
                                       <!--placeholder="Insert bot page id here"-->
                                       <!--value="{{cms_campaign_details.botPageID}}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-sm-12">-->
                                <!--<button id="deleteGallery" class="btn btn-primary pull-right" style="">-->
                                    <!--<span class="zmdi zmdi-check"></span> Reset welcome message now-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!-- Welcome text -->
                        <!--<div class="panel-group driving-license-settings" id="accordion">-->
                            <!--<div class="panel panel-default">-->

                                <!--<div class="panel-heading">-->
                                    <!--<h4 class="panel-title">-->
                                        <!--<div class="">-->
                                            <!--<label data-toggle="collapse"-->
                                                   <!--data-target="#collapseText">-->
                                                <!--<input type="checkbox"-->
                                                       <!--name="welcomeMsgTextCheckBox"-->
                                                       <!--checked={{isTextChecked}}-->
                                                       <!--id="welcomeMsgTextCheckBox"/>-->
                                                <!--Welcome Message as Text-->
                                            <!--</label>-->
                                            <!--<button id="initText-button" class="btn btn-primary pull-right">-->
                                                <!--<span class="zmdi zmdi-check"></span> Init now-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</h4>-->

                                <!--</div>-->
                                <!--<div id="collapseText" class="collapseText collapse">-->
                                    <!--<div class="panel-body">-->
                                        <!--<div class="driving-license-kind">-->
                                            <!--<div class="">-->
                                                <!--<input type="text"-->
                                                       <!--name="welcomeMsgText"-->
                                                       <!--id="welcomeMsgText"-->
                                                       <!--placeholder="Insert text here"-->
                                                       <!--value="{{cms_campaign_details.welcomeMsgText}}">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!-- Welcome Gallery -->
                        <!--<div class="panel-group driving-license-settings" id="accordion">-->
                            <!--<div class="panel panel-default">-->

                                <!--<div class="panel-heading">-->
                                    <!--<h4 class="panel-title">-->
                                        <!--<div class="">-->
                                            <!--<label data-toggle="collapse"-->
                                                   <!--data-target="#collapseGallery">-->
                                                <!--<input type="checkbox"-->
                                                       <!--name="welcomeMsgGalleryCheckBox"-->
                                                       <!--checked={{isGalleryChecked}}-->
                                                       <!--id="welcomeMsgGalleryCheckBox"/>-->
                                                <!--Welcome Message as Gallery-->
                                            <!--</label>-->
                                            <!--<button id="initGallery-button" class="btn btn-primary pull-right">-->
                                                <!--<span class="zmdi zmdi-check"></span> Init now-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</h4>-->

                                <!--</div>-->
                                <!--<div id="collapseGallery"-->
                                     <!--class="collapseGallery collapse">-->
                                    <!--<div class="panel-body">-->
                                        <!--<div class="driving-license-kind">-->
                                            <!--<div class="">-->
                                                <!--<input type="text"-->
                                                       <!--name="welcomeMsgGalleryTitle"-->
                                                       <!--id="welcomeMsgGalleryTitle"-->
                                                       <!--placeholder="Insert title here"-->
                                                       <!--value="{{cms_campaign_details.welcomeMsgGalleryTitle}}">-->

                                            <!--</div>-->
                                            <!--<div class="">-->
                                                <!--<input type="text"-->
                                                       <!--name="welcomeMsgGalleryItemUrl"-->
                                                       <!--id="welcomeMsgGalleryItemUrl"-->
                                                       <!--placeholder="Insert item url"-->
                                                       <!--value="{{cms_campaign_details.welcomeMsgGalleryItemUrl}}">-->

                                            <!--</div>-->
                                            <!--<div class="">-->
                                                <!--<input type="text"-->
                                                       <!--name="welcomeMsgGalleryImageUrl"-->
                                                       <!--id="welcomeMsgGalleryImageUrl"-->
                                                       <!--placeholder="Insert image url"-->
                                                       <!--value="{{cms_campaign_details.welcomeMsgGalleryImageUrl}}">-->

                                            <!--</div>-->
                                            <!--<div class="">-->
                                                <!--<input type="text"-->
                                                       <!--name="welcomeMsgGallerySubtitle"-->
                                                       <!--id="welcomeMsgGallerySubtitle"-->
                                                       <!--placeholder="Insert subtitle"-->
                                                       <!--value="{{cms_campaign_details.welcomeMsgGallerySubtitle}}">-->

                                            <!--</div>-->

                                            <!--<div class="panel panel-default">-->

                                                <!--<div class="panel-heading">-->
                                                    <!--<h4 class="panel-title">-->
                                                        <!--<div class="checkbox">-->
                                                            <!--<label>Button-1</label>-->
                                                        <!--</div>-->
                                                    <!--</h4>-->
                                                <!--</div>-->

                                                <!--<div class="panel-body">-->
                                                    <!--<div class="driving-license-kind">-->
                                                        <!--<div class="">-->
                                                            <!--Type: External URL-->
                                                        <!--</div>-->
                                                        <!--<div class="">-->
                                                            <!--<input type="text"-->
                                                                   <!--name="button1Title"-->
                                                                   <!--id="button1Title"-->
                                                                   <!--placeholder="Insert title"-->
                                                                   <!--value="{{cms_campaign_details.button1Title}}">-->
                                                        <!--</div>-->
                                                        <!--<div class="">-->
                                                            <!--<input type="text"-->
                                                                   <!--name="button1URL"-->
                                                                   <!--id="button1URL"-->
                                                                   <!--placeholder="Insert url"-->
                                                                   <!--value="{{cms_campaign_details.button1URL}}">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="panel panel-default">-->

                                                <!--<div class="panel-heading">-->
                                                    <!--<h4 class="panel-title">-->
                                                        <!--<div class="checkbox">-->
                                                            <!--<label>Button-2</label>-->
                                                        <!--</div>-->
                                                    <!--</h4>-->
                                                <!--</div>-->

                                                <!--<div class="panel-body">-->
                                                    <!--<div class="driving-license-kind">-->
                                                        <!--<div class="">-->
                                                            <!--Type: Internal URL-->
                                                        <!--</div>-->
                                                        <!--<div class="">-->
                                                            <!--<input type="text"-->
                                                                   <!--name="button2Title"-->
                                                                   <!--id="button2Title"-->
                                                                   <!--placeholder="Insert title"-->
                                                                   <!--value="{{cms_campaign_details.button2Title}}">-->
                                                        <!--</div>-->
                                                        <!--<div class="">-->
                                                            <!--<input type="text"-->
                                                                   <!--name="button2Payload"-->
                                                                   <!--id="button2Payload"-->
                                                                   <!--placeholder="Insert internal url"-->
                                                                   <!--value="{{cms_campaign_details.button2Payload}}">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                </div>
            </div>
        </div>
    </div>
	</div>
    </form>
</template>

