<template name="UsersList">

	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-4 col-md-2">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                    	<li class="active"><a class="btn btn-link text-primary text-uppercase" href="{{pathFor route='users_list'}}">Users List</a></li>

	                    </ol>
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">
		{{> UsersListView}}
	</div>
    
</template>

<template name="UsersListView">
	<div id="users-list-view" class="row">
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
				<div class="col-lg-12 alert alert-danger">
					"{{searchString}}" not found.
				</div>
				{{else}}
				<div id="dataview-data" class="col-lg-12">
					{{#if viewAsTable}} {{> UsersListViewTable}} {{/if}}
				</div>
			{{/if}}	
			{{else}}

            <div id="campaigns-view" class="container" style="padding:30px 0 90px 0; ">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel panel-white" style="background-color: white">
                            <!--<div class="panel-heading"></div>-->
                            <div class="panel-body text-center">
                                <div style="min-height: 300px; text-align: center;">
                                    <img src="/images/empty-state-no-campaigns.svg" class="m-b-sm" alt="Chatsuite - No Campaigns" style="max-width: 400px;">
                                </div>
                                <h2 class="color-main-dark m-b-8" style="color: #3c2e33">You have no Users</h2>
                                <h5 class="color-main-grey m-b-30">...</h5>
                                <div class="text-center form-group">
                                    <a href="{{pathFor route='campaigns'}}" class="shover btn text-uppercase" style="color: #0bbbef; background-color: transparent; border: 2px solid #0bbbef; padding: 10px 15px; margin-bottom: 0; font-size: 14px; font-weight: 600; line-height: 16px; min-width: 170px; max-width: 100%; height: 40px; border-radius: 4px; box-shadow: none !important;">Back to Campaigns</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--
			<div class="col-lg-12 alert alert-warning">
				You have no users in your list.
			</div>-->
		{{/if}}
	</div>
</template>

<template name="UsersListViewTable">
    <div align="center" style="margin-top:30px;margin-bottom:30px;">
        Number of Users: {{numberOfUsers}}
        <div class="pull-right">
            Platform <select id="platform" class="btn btn-default" style="margin-right:10px;">
                <option value="all">All</option>
                <option value="Facebook">Facebook</option>
                <option value="Viber">Viber</option>
            </select>
        </div>
        <div class="pull-right">
            Gender <select id="gender" class="btn btn-default" style="margin-right:10px;">
                <option value="all">All</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="pull-right">
            Country <select id="country" class="btn btn-default" style="margin-right:10px;">
            <option value="all">All</option>
            <option value="canada">Canada</option>
            <option value="france">France</option>
            <option value="germany">Germany</option>
            <option value="united_kingdom">United Kingdom</option>
            <option value="united_states">United States</option>
        </select>
        </div>
    </div>
	<table id="dataview-table" class="table table-hover tour-5">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
                <th>
                    #
                </th>
				<th>
					Name
				</th>
				<th>
					Platform
				</th>
                <th>
                    Gender
                </th>
                <th>
                    Country
                </th>
                <th>
                    Campaign Name
                </th>
				<th>
					User Details
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> UsersListViewTableItems}} {{/each}}
		</tbody>
	</table>
    <div align="center">
        <button type="submit" id="next-page-button" class="btn btn-primary" style="margin-right:50px;margin-bottom:20px;">Next Page &gt;</button>
        <button type="submit" id="previous-page-button" class="btn btn-primary" style="margin-bottom:20px;">&lt; Previous Page</button>
    </div>
</template>

<template name="UsersListViewTableItems">
	<tr id="dataview-table-items-row">
        <td class="va-middle">
            {{index}}
        </td>
		<td class="va-middle">
			{{getName firstName lastName}}
		</td>
		<td class="va-middle">
			{{findPlatform uid}}
		</td>
        <td class="va-middle">
            {{findGender gender repeatView}}
        </td>
        <td class="va-middle">
            {{localeToCountry locale}}
        </td>
		<td class="va-middle">
            {{campaignName}}
		</td>
		<td class="td-icon va-middle hidden-md hidden-sm hidden-xs">
			<span id="view-button" class="fa fa-eye" title="User Details"></span>
		</td>
	</tr>
</template>