<template name="Admin">
	<div class="row" id="title_row">
		<div class="col s12">
			<div id="page_menu" class="pull-right">
			</div>
		</div>
	</div>
	<div class="row">
		<div id="menu" class="col s2">
			<h2>
			</h2>
			{{> AdminSideMenu}}
		</div>
		<div id="subcontent" class="col s10">
			{{> yield region='AdminSubcontent'}}
		</div>
	</div>
</template>

<template name="AdminSideMenu">
	<ul id="menu-items" class="collection">
		<li id="menu-item-simple" class="collection-item {{menuItemClass 'admin.users'}}">
			<a href="{{pathFor 'admin.users'}}">
				<i class="material-icons left">
				</i>
				Users
			</a>
		</li>
	</ul>
</template>

