<template name="AdminUsers">
	<div class="container">
		<div id="page_menu" class="pull-right">
		</div>
	</div>
	{{> AdminUsersView}}
</template>

<template name="AdminUsersView">
	<div id="admin-users-view" class="">
		<h3>
			Users
		</h3>
		<form class="form">
			<div id="dataview-controls" class="row">
				<div id="dataview-controls-insert" class="item col s2 ">
					<div class="input-field col s12">
						<div id="dataview-insert-button" class="btn">
							<i class="material-icons left">
								control_point
							</i>
							Add new
						</div>
					</div>
				</div>
				<div id="dataview-controls-search" class="item col s4">
					{{#if isNotEmpty}}
					<div class="input-field col s12">
						<i id="dataview-search-button" class="material-icons prefix">
							search
						</i>
						<input id="dataview-search-input" style="margin-bottom:0px;" type="text">
						<label for="dataview-search-input">
							Search
						</label>
					</div>
					{{/if}}
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> AdminUsersViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No users yet
		</div>
		{{/if}}
	</div>
</template>

<template name="AdminUsersViewTable">
	<table id="dataview-table" class="striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="profile.name">
					Name
				</th>
				<th class="th-sortable" data-sort="profile.email">
					E-mail
				</th>
				<th class="th-sortable" data-sort="roles">
					Role
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> AdminUsersViewTableItems}} {{/each}}
		</tbody>
	</table>
	<div id="delete_record" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>
				Delete
			</h4>
			<p>
				Delete? Are you sure?
			</p>
		</div>
		<div class="modal-footer">
			<div class="red btn modal-action modal-close modal-deny waves-effect waves-green">
				<i class="remove icon">
				</i>
				No
			</div>
			<div class="green btn modal-action modal-close modal-confirm waves-effect waves-green">
				<i class="checkmark icon">
				</i>
				Yes
			</div>
		</div>
	</div>
</template>

<template name="AdminUsersViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{profile.name}}
		</td>
		<td>
			{{profile.email}}
		</td>
		<td>
			{{roles}}
		</td>
		<td>
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
	</tr>
</template>

