<template name="C_CampaignsDetailsEdit">
    {{> C_CampaignsDetailsEditEditForm}}
</template>


<template name="C_CampaignsDetailsEditEditForm_button">
  <!-- s-button -->
  <div class="row">
    <div class="form-group">
      <label for="b{{buttonNr}}type" class="control-label col-sm-2">Button-{{buttonNr}}: {{buttonNr}}</label>
      <div class="col-sm-2">
        <select style="margin-bottom: 0" name="button{{buttonNr}}type" class="form-group typeSelect">
          <option {{isSelected (getButton buttonNr 'type') "Choose Type" buttonNr }} >Choose Type</option>
          <option {{isSelected (getButton buttonNr 'type') "web_url" buttonNr }} value="web_url">External Link</option>
          <option {{isSelected (getButton buttonNr 'type') "postback" buttonNr }} value="postback">Internal Link</option>
        </select>
      </div>
    </div>
  </div>

  <div id="b{{buttonNr}}Data" style="">
    <div class="form-group  field-description">
      <label class="control-label col-sm-2" for="button{{buttonNr}}Data">Button {{buttonNr}} Destination:</label>
      <div class="col-sm-10">
        <input type="text" name="button{{buttonNr}}Data" value="{{getButton buttonNr 'Data'}}" class="form-control destInput">
        <!-- TODO: id is not unique here as we may have several buttons-->
        <span id="help-text" class="help-block"></span>
        <span id="error-text" class="help-block"></span>
      </div>
    </div>

    <div class="form-group  field-description">
      <label class="control-label col-sm-2" for="button{{buttonNr}}Label">Button {{buttonNr}} Text:</label>
      <div class="col-sm-10">
        <input type="text" name="button{{buttonNr}}Label" value="{{getButton buttonNr 'Label'}}" class="form-control textInput">
        <!-- TODO: id is not unique here as we may have several buttons-->
        <span id="help-text" class="help-block"></span>
        <span id="error-text" class="help-block"></span>
      </div>
    </div>
  </div>
   <!-- e-button -->
</template>

<template name="C_CampaignsDetailsEditEditForm">
    <form role="form">
        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-8 col-md-8">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                                <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                                <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
                                <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='cms'}}">Campaigns</a></li>
                                <li class=""><a class="btn btn-link text-ellipsis " href="/cms/sections?id={{cms_campaign_details.campaignName}}&cid={{cms_campaign_details._id}}">{{cms_campaign_details.campaignName}}</a></li>
                                <li class=""><a class="btn btn-link text-ellipsis " href="/cms/details/{{cms_campaign_details._id}}/items?sname={{cms_campaign_item.sectionName}}">{{cms_campaign_item.sectionName}}</a></li>
                                <li class=""><a class="btn btn-link text-ellipsis" href="">{{cms_campaign_item.title}}</a></li>
                                <li class="active"><a class="btn btn-link text-primary" href="">Edit  {{CardOrItem}}</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="pull-right"  style="padding-right: 10px">
                            <!--<a id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">Cancel</a>-->
                            <!--<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save & Open Editor</a>-->
                            <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                                Cancel
                            </button>
                            <button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                                Save  {{CardOrItem}}
                            </button>


                            <!--{{> CBuilder }}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="content">
            <div id="C_Campaigns-details-edit-edit-form" class="">
                <div class="row">
                    <div class="col-lg-12">
                        {{#if errorMessage}}
                            <div class="alert alert-warning">
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        {{#if infoMessage}}
                            <div class="alert alert-success">
                                {{infoMessage}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="hpanel">
                    <div class="panel-body" style="padding: 0px;">
                        <div style="padding:100px 100px 100px 150px">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group  field-card-name">
                                        <label for="cardTitle">{{CardOrItem}} Title</label>
                                        <div class="input-div">
                                            <input type="text" id="cardTitle" name="title" value="{{cms_campaign_item.title}}" class="form-control" autofocus="autofocus"/>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-position"  id="positionDiv">
                                        <label for="position">{{CardOrItem}} Position</label>
                                        <div class="input-div">
                                            <select id="position" name="position" class="form-group">
                                                <option selected="selected">
                                                    {{cms_campaign_item.position}}
                                                </option>
                                                <option value="random">Random</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                                <option value="32">32</option>
                                                <option value="33">33</option>
                                                <option value="34">34</option>
                                                <option value="35">35</option>
                                                <option value="36">36</option>
                                                <option value="37">37</option>
                                                <option value="38">38</option>
                                                <option value="39">39</option>
                                                <option value="40">40</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-date">
                                        <label for="startDate">Start date</label>
                                        <div class="input-div">
                                            <div class="input-group date">
                                                <input type="text" name="sdate" value="{{formatDate cms_campaign_item.sdate 'MM-DD-YYYY'}}" class="form-control"  data-type="date" data-format="MM-DD-YYYY"/>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-edate">
                                        <label for="endDate">End date</label>
                                        <div class="input-div">
                                            <div class="input-group date">
                                                <input type="text" name="edate" value="{{formatDate cms_campaign_item.edate 'MM-DD-YYYY'}}" class="form-control" data-type="date" data-format="MM-DD-YYYY"/>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="hidden form-group">
                            <label class="control-label col-sm-2">ID</label>
                            <div class="col-sm-3">
                                {{cms_campaign_item.index}}
                            </div>
                        </div>
                        <div class="hidden form-group">
                            <label class="control-label col-sm-2">
                                Section Name
                            </label>
                            <div class="col-sm-3 ">
                                <select id="sectionID" name="sectionName" class="form-group">
                                    <option selected="selected">
                                        {{cms_campaign_item.sectionName}}
                                    </option>
                                    {{#each sections}}
                                    <option>{{sectionName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="hidden form-group field-date">
                            <label class="control-label col-sm-2">Type</label>

                            <div id ="typeID" name="type" class="col-sm-3">

                            </div>
                        </div>


                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2"  for="name">-->
                                <!--Name-->
                            <!--</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input type="text"-->
                                       <!--name="name"-->
                                       <!--id="name"-->
                                       <!--value="{{cms_campaign_item.name}}"-->
                                       <!--class="form-control"-->
                                       <!--required="required">-->
                                <!--<span id="help-text" class="help-block"></span>-->
                                <!--<span id="error-text" class="help-block"></span>-->
                            <!--</div>-->
                        <!--</div>-->


                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="imageDIV" class="form-group text-left field-img">
                                        <label for="imageField">Image Url</label>
                                        <div class="input-div">
                                            <!--<input type="text" name="image"  value="{{cms_campaign_item.image}}" class="form-control">-->
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>

                                        <input type="text" name="image"  id="imageField" value="{{cms_campaign_item.image}}" class="form-control">
                                        <input type="hidden" name="picture" role="uploadcare-uploader" data-crop />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="subtitleDIV" class="form-group text-left field-sub">
                                        <label for="subtitle">Sub title</label>
                                        <div class="input-div">
                                             <textarea type="text" id="subField" name="subtitle" value="{{cms_campaign_item.subtitle}}" class="form-control"></textarea>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                        <div id="Counter1"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="messageID" class="form-group text-left field-message">
                                        <label for="message">Message <span class="help">(Visible to end users)</span></label>
                                        <div class="input-div">
                                            <textarea style="min-height:200px;" type="text" name="message" value="{{cms_campaign_item.message}}" id="mesField" class="form-control"></textarea>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>

                                        <div id="Counter"></div>

                                    </div>
                                </div>
                            </div>

                            {{#if isFBimgAndButton}}

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="messageID_A">
                                            <label for="message_A">Message <span>(Visible to end users)</span></label>
                                            <div class="input-div">
                                                <textarea style="min-height:200px;" type="text" name="message_A" value="{{cms_campaign_item.message_A}}" id="mesField_A" class="form-control"></textarea>
                                                <span id="help-text" class="help-block"></span>
                                                <span id="error-text" class="help-block"></span>
                                            </div>

                                            <div id="Counter_A"></div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="messageID_B">
                                            <label for="message_B">Message <span>(Visible to end users)</span></label>
                                            <div class="input-div">
                                                <textarea style="min-height:200px;" type="text" name="message_B" value="{{cms_campaign_item.message_B}}" id="mesField_B" class="form-control"></textarea>
                                                <span id="help-text" class="help-block"></span>
                                                <span id="error-text" class="help-block"></span>
                                            </div>

                                            <div id="Counter_B"></div>

                                        </div>
                                    </div>
                                </div>



                            {{/if}}

                            <br><br>

                        <div id="buttonsID">
                          {{#each idx in (loopNrOfButtons cms_campaign_item )}}
                            {{> C_CampaignsDetailsEditEditForm_button buttonNr=idx cms_campaign_item=cms_campaign_item}}
                          {{/each}}
                          <div class="row">
                            <div class="form-group">
                              <input class="btn btn-primary text-uppercase m-l-sm pull-right" type="button" value="add button" id="addButton">
                            </div>
                          </div>

                          <!--<h2 style="color: blue"> nrOfButtons= {{ nrOfButtons }} </h2>-->
                          <!--<h2 style="color: red">{{idx}}</h2>-->

                          <!--&lt;!&ndash; s-button 1&ndash;&gt;-->
                            <!--<div class="row">-->
                                <!--<div class="form-group">-->
                                    <!--<label for="b1type" class="control-label col-sm-2">Button-1: RRRRR</label>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<select style="margin-bottom: 0" name="button1type" class="form-group typeSelect">-->
                                            <!--<option {{isSelected cms_campaign_item.button1type "Choose Type" 1}} >Choose Type</option>-->
                                            <!--<option {{isSelected cms_campaign_item.button1type "web_url" 1}} value="web_url">External Link</option>-->
                                            <!--<option {{isSelected cms_campaign_item.button1type "postback" 1}} value="postback">Internal Link</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div id="b1Data" style="">-->
                                <!--<div class="form-group  field-description">-->
                                    <!--<label class="control-label col-sm-2" for="button1Data">Button 1 Destination:</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="button1Data" value="{{cms_campaign_item.button1Data}}" class="form-control destInput">-->
                                        <!--<span id="help-text" class="help-block"></span>-->
                                        <!--<span id="error-text" class="help-block"></span>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group  field-description">-->
                                    <!--<label class="control-label col-sm-2" for="button1Label">Button 1 Text:</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="button1Label" value="{{cms_campaign_item.button1Label}}" class="form-control textInput">-->
                                        <!--<span id="help-text" class="help-block"></span>-->
                                        <!--<span id="error-text" class="help-block"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; e-button &ndash;&gt;-->

                            <!--&lt;!&ndash; s-button 2&ndash;&gt;-->
                            <!--<div class="row">-->
                                <!--<div class="form-group  field-description">-->
                                    <!--<label for="b2type"  class="control-label col-sm-2">Button-2:</label>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<select style="margin-bottom: 0" name="button2type" class="form-group typeSelect">-->
                                            <!--<option hidden  {{isSelected cms_campaign_item.button2type "Choose Type" 2}} >Choose Type</option>-->
                                            <!--<option {{isSelected cms_campaign_item.button2type "web_url" 2}} value="web_url">External Link</option>-->
                                            <!--<option {{isSelected cms_campaign_item.button2type "postback" 2}} value="postback">Internal Link</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div id="b2Data" style="">-->
                                <!--<div class="form-group  field-description">-->
                                    <!--<label class="control-label col-sm-2" for="button2Data">Button 2 Destination:</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="button2Data" value="{{cms_campaign_item.button2Data}}" class="form-control destInput">-->
                                        <!--<span id="help-text" class="help-block"></span>-->
                                        <!--<span id="error-text" class="help-block"></span>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group  field-description">-->
                                    <!--<label class="control-label col-sm-2" for="button2Label">Button 2 Text:</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="button2Label" value="{{cms_campaign_item.button2Label}}" class="form-control textInput">-->
                                        <!--<span id="help-text" class="help-block"></span>-->
                                        <!--<span id="error-text" class="help-block"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; e-button &ndash;&gt;-->

                            <!--&lt;!&ndash; s-button 3&ndash;&gt;-->
                            <!--<div class="row">-->
                            <!--<div class="form-group  field-description">-->
                                <!--<label for="b3type"  class="control-label col-sm-2">Button-3:</label>-->
                                <!--<div class="col-sm-2">-->
                                    <!--<select style="margin-bottom: 0" name="button3type" class="form-group typeSelect">-->
                                        <!--<option {{isSelected cms_campaign_item.button3type "Choose Type" 3}} hidden>Choose Type</option>-->
                                        <!--<option {{isSelected cms_campaign_item.button3type "web_url" 3}} value="web_url">External Link</option>-->
                                        <!--<option {{isSelected cms_campaign_item.button3type "postback" 3}} value="postback">Internal Link</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->

                            <!--<div class="b3Data">-->
                                <!--<div class="form-group  field-description">-->
                                    <!--<label class="control-label col-sm-2" for="button3Data">Button 3 Destination:</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="button3Data" value="{{cms_campaign_item.button3Data}}" class="form-control destInput">-->
                                        <!--<span id="help-text" class="help-block"></span>-->
                                        <!--<span id="error-text" class="help-block"></span>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group  field-description">-->
                                    <!--<label class="control-label col-sm-2" for="button3Label">Button 3 Text:</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="button3Label" value="{{cms_campaign_item.button3Label}}" class="form-control textInput">-->
                                        <!--<span id="help-text" class="help-block"></span>-->
                                        <!--<span id="error-text" class="help-block"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; e-button &ndash;&gt;-->

                            <div id="buttonsMenu">
                                <!-- s-button 4-->
<!--
                                <div class="row">
                                    <div class="form-group  field-description">
                                        <label for="b4type"  class="control-label col-sm-2">Button-4:</label>
                                        <div class="col-sm-2">
                                            <select style="margin-bottom: 0" name="button4type" class="form-group typeSelect">
                                                <option {{isSelected cms_campaign_item.button4type "Choose Type" 4}} hidden>Choose Type</option>
                                                <option {{isSelected cms_campaign_item.button4type "web_url" 4}} value="web_url">External Link</option>
                                                <option {{isSelected cms_campaign_item.button4type "postback" 4}} value="postback">Internal Link</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="b4Data">
                                    <div class="form-group  field-description">
                                        <label class="control-label col-sm-2" for="button4Data">Button 4 Destination:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="button4Data" value="{{cms_campaign_item.button4Data}}" class="form-control destInput">
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group  field-description">
                                        <label class="control-label col-sm-2" for="button4Label">Button 4 Text:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="button4Label" value="{{cms_campaign_item.button4Label}}" class="form-control textInput">
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-  - e-button -  -  >

                                <!-  - s-button 5-  -  >
                                <div class="row">
                                    <div class="form-group  field-description">
                                        <label for="b5type"  class="control-label col-sm-2">Button-5:</label>
                                        <div class="col-sm-2">
                                            <select style="margin-bottom: 0" name="button5type" class="form-group typeSelect">
                                                <option {{isSelected cms_campaign_item.button5type "Choose Type" 5}} hidden>Choose Type</option>
                                                <option {{isSelected cms_campaign_item.button5type "web_url" 5}} value="web_url">External Link</option>
                                                <option {{isSelected cms_campaign_item.button5type "postback" 5}} value="postback">Internal Link</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="b5Data">
                                    <div class="form-group  field-description">
                                        <label class="control-label col-sm-2" for="button5Data">Button 5 Destination:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="button5Data" value="{{cms_campaign_item.button5Data}}" class="form-control destInput">
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group  field-description">
                                        <label class="control-label col-sm-2" for="button5Label">Button 5 Text:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="button5Label" value="{{cms_campaign_item.button5Label}}" class="form-control textInput">
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <! -  - e-button -->


                            </div>




                        </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

