<template name="TracksInsert">

	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-6">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                        <li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class=""><a class="btn btn-link" href="">Track Name #1</a></li>
	                        <li class="active"><a class="btn btn-link text-primary" href="">New Track</a></li>
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-6">
	                <div class="pull-right">
	                	<a class="btn btn-default text-uppercase m-l-sm">Cancel</a>	              
	                	<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save</a>
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">
		{{> TracksInsertInsertForm}}
	</div>
</template>

<template name="TracksInsertInsertForm">
	<div id="tracks-insert-insert-form" class="">
		<form role="form">
			<div class="col-lg-12">
				{{#if errorMessage}}
				<div class="alert alert-warning">
					{{errorMessage}}
				</div>
				{{/if}}		
			
				{{#if infoMessage}}
				<div class="alert alert-success">
					{{infoMessage}}
				</div>
				{{/if}}
			</div>

			<div class="hpanel">
	            <div class="panel-heading hbuilt bg-dark text-white">
	                track Details
	            </div>
	            <div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-5 border-right" style="padding: 0 30px 0 15px;">

                            <div class="form-group field-name">
                                <label for="platform">
                                    Platform
                                </label>
                                <div class="input-div">
                                    <input type="text" name="platform" value="" class="form-control" autofocus="autofocus" required="required">
									<span id="help-text" class="help-block">
									</span>
									<span id="error-text" class="help-block">
									</span>
                                </div>
                            </div>

                            <div class="form-group field-name">
                                <label for="uid">
                                    UID
                                </label>
                                <div class="input-div">
                                    <input type="text" name="uid" value="" class="form-control" autofocus="autofocus" required="required">
									<span id="help-text" class="help-block">
									</span>
									<span id="error-text" class="help-block">
									</span>
                                </div>
                            </div>

                            <div class="form-group field-name">
                                <label for="uid">
                                    Campaign Name
                                </label>
                                <div class="input-div">
                                    <input type="text" name="campaignName" value="" class="form-control" autofocus="autofocus" required="required">
									<span id="help-text" class="help-block">
									</span>
									<span id="error-text" class="help-block">
									</span>
                                </div>
                            </div>

							<div class="form-group field-description">
								<label for="message">
									Message
								</label>
								<div class="input-div">
									<input type="text" name="message" value="" class="form-control">
									<span id="help-text" class="help-block">
									</span>
									<span id="error-text" class="help-block">
									</span>
								</div>
							</div>




	                    </div>

	                </div>
	            </div>
	        </div>

			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>

	</div>

</template>

