@import "variables";

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 35px 0 15px;
  color: @gray;
  text-align: left;

  p {
    margin: 0;
  }

  .f-menu {
    display: block;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-top: 8px;

    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;

      > a {
        color: #a2a2a2;

        &:hover {
          color: #777;
        }
      }
    }
  }
}

@media (min-width: 1199px) {
  body.sw-toggled #footer {
    padding-left: 268px;
  }
}