@import "variables";

*, button, input, i, a {
  -webkit-font-smoothing: antialiased;
}

*, *:active, *:hover {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
  overflow-x: hidden;
  -ms-overflow-style: none;
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
  line-height: 1.4;
  color: black;
  background-color: #f1f1f1 !important;
}

audio, video {
  outline: none;
}

p {
  margin: 0 0 20px;
}

small {
  font-size: 11px;
}

h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
  font-size: 12px;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="tel"],
textarea {
  border-radius: 0 !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

select {
  border-radius: 0 !important;
}

#main {
  position: relative;
  height: 100%;
  //padding-bottom: 70px;
  //padding-top: 100px;
}

.container {
  &.c-alt {
  //  max-width: 1170px;
  }
}

@media (min-width: @small-screen) and (max-width: @large-screen-down) {
  #content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: @large-screen) {
  body.sw-toggled #content {
    padding-left: 268px;
  }
}

@media (min-width: @large-screen) {
  body.sw-toggled #content > .container {
   // width: calc(100% - 30px);
  }
}