@import "/client/styles/styles/theme/modules/variables.less";

#header {
  min-height: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  z-index: 11;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 11px;
}

#header:not(.sidebar-toggled).header-up {
  -webkit-transform: translate3d(0, -70px, 0);
  transform: translate3d(0, -70px, 0);
}

#header .logo a {
  padding: 3px 10px;
  text-decoration: none;
}

#header .logo img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

#menu-trigger {
  padding-left: 30px;

  a {
    text-transform: uppercase;
    padding: 11px 11px 12px;
    background-color: @white;
    color: @blue-base;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
  }
}

.top-menu {
  .user {
    padding-right: 15px;
    margin-right: 10px;

    &-link {
      &:hover {
        text-decoration: none;
      }

      img {
        max-width: 44px;
        border-radius: 50%;
        margin-right: 5px;
      }

      span {
        position: relative;

        &:after {
          position: absolute;
          content: '\f2f2';
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          right: -8px;
          font-size: 16px;
          display: inline-block;
          font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        }
      }
    }
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}