@import "variables";

.lc-block {
  position: absolute;
  width: 500px;
  top: 0;
  left: 50%;
  background: @white;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.22);
  margin-top: 135px;
  transform: translate(-50%, 0);

  &.toggled {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 10;
  }

  &:not(.lcb-alt) {
    padding: 35px 55px 35px 35px;
  }

  .checkbox {
    margin: 5px 0 0 42px;
    text-align: left;
  }

  &:not(.lcb-alt) .btn-login {
    top: 50%;
    margin-top: -25px;
    right: -25px;
  }

  .btn-login {
    background-color: @blue-base;
    border-color: @blue-base;
  }

  .input-group-addon {
    background-color: transparent !important;
    border-color: transparent !important;
  }

  .checkbox {
    color: #a5a5a5;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
  }

  .zmdi {
    margin-top: 5px;
    font-size: 20px;
    color: black;
  }
}

@media (max-width: @small-screen-down) {
  .lc-block {
    padding: 15px 35px 25px 20px;
    width: calc(100% - 60px);
  }
}

.login-navigation {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: -45px;
  list-style: none;
  text-align: center;

  > li {
    display: inline-block;
    margin: 0 2px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    cursor: pointer;
    vertical-align: top;
    color: @white;
    line-height: 16px;
    min-width: 16px;
    min-height: 16px;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    a {
      color: @white;
      text-decoration: none;
    }

    > span {
      opacity: 0;
      filter: alpha(opacity=0);
    }

    &:hover {
      border-radius: 10px;
      padding: 0 5px;
      font-size: 8px;

      > span {
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }
  }

  > li:not(:hover) {
    font-size: 0;
    border-radius: 100%;
  }
}

.lcb-alt {
  padding: 70px 55px 60px;
}

.lcb-alt .btn-login {
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}

.lcb-alt .login-navigation {
  bottom: -75px;
}

.lcb-user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid @white;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.18);
}