.btn.btn-back {
  height: 30px;width: 30px;
  padding: 4px 8px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);

  .zmdi {
    color: #a5a5a5;
    font-size: 19px;
    line-height: 21px;
    margin: 0;
  }
}

.card {
  .lv-header-alt {
    border-color: #d1d1d1;
  }

  .page-heading {
    text-transform: uppercase;
  }
}


.new_compaing_form, .new_section_form {
  padding: 25px 30px 15px 150px;
  .form-control{

  }
  .form-group {
    label {
      font-size: 13px;
      color: #B5B5B5;
    }

    input[type="text"], select {
      font-size: 23px;
      color: #000000;
      //border: none;
      //width: 100%;
      margin-left: 0;
      margin-right: 0;
      border: 1px solid #cccccc;
      width: 200px;

      &:focus {
        border-color: #00c9f7;
      }
    }

    select {
      border: none;
      height: 32px
    }

    .input-group-addon {
      border-bottom: none;
      background: none;
    }

    .input-group-addon {
      span {
        font-size: 22px;
      }
    }
  }

  .submit-div {
    margin-top: 25px;

    .btn + .btn {
      margin-right: 15px;
    }

    .btn-success,
    .btn-cancel {
      float: right;
      padding: 10px 25px;
      font-size: 13px;
    }

    .btn-success {
      background-color: #00c9f7;
      color: #fff;
    }

    .btn-cancel {
      background: none;
      border: none;
      color: #000000;
      box-shadow: none;
    }
  }
}

.edit_campaign {

  .control-label {
    text-align: left !important;
  }

  input[type="text"], select {
    color: #a5a5a5 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 20px !important;

    &:focus {
      border-color: #00c9f7;
    }
  }
}

.tr-editable {
  &:hover {
    cursor: pointer;
  }
}
.th-sortable {
  &:hover {
    cursor: pointer;
  }
}