@blue-base : #00c9f7;

@gray : #a2a2a2;

@white : #fff;
@black : #000;

@small-screen-down: 767px;
@large-screen-down: 1199px;

@xsmall-screen: 480px;
@small-screen: 768px;
@medium-screen: 992px;
@large-screen: 1200px;
