<template name="Sections">

    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-lg-8 col-md-8">
                    <div id="hbreadcrumb" class="">
                        <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                            <li ><a class="btn btn-link  text-uppercase text-ellipsis" href="{{pathFor 'cms'}}">Campaigns</a></li>
                            <li class="active"><a class="btn btn-link text-primary" href="">{{campaignName}}</a></li>
                            <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                            <li class="active"><a class="btn btn-link text-primary text-ellipsis" href="">General Channel</a></li>-->
                            <!--<li class="active"><a class="btn btn-link text-primary" href="">Campaign Name</a></li>-->
                        </ol>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="pull-right hidden-sm hidden-xs" style="padding-right: 10px">
                        <form id="dataview-controls" class="form-inline" style="margin-bottom:0">
                            <div id="dataview-controls-search">
                                {{#if isNotEmpty}}
                                    <div id="dataview-controls-search-group" class="form-group m-b-none">
                                        <div class="btn-group" style="max-width:210px">
                                            <div class="input-group">
                                                <input type="text" class="form-control" style="height: 32px" id="dataview-search-input" placeholder="Search Campaigns..." name="search" value="{{searchString}}" autofocus="autofocus">
					                		<span class="input-group-btn">
					                			<button type="button" id="dataview-search-button" class="btn btn-default"><i class="fa fa-search"></i></button>
					                		</span>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <!--div id="dataview-controls-export" class="form-group m-b-none">
								{{#if isNotEmpty}}
                                {{#if isFound}}
										<div></div>
										{{else}}
										<div class="btn-group m-l-sm">
						                    <button data-toggle="dropdown" class="btn btn-default text-uppercase dropdown-toggle" aria-expanded="false"><i class="fa fa-download m-r-xs"></i> Download Report <span class="caret"></span></button>
						                    <ul class="dropdown-menu" style="width:100%">
						                        <li><a id="dataview-export-csv" href="#">Export results to CSV</a></li>
						                        <li><a id="dataview-export-tsv" href="#">Export results to TSV</a></li>
						                        <li><a id="dataview-export-json" href="#">Export results to JSON</a></li>
						                    </ul>
						                </div>
									{{/if}}
                            {{/if}}
							</div-->
                            <div id="dataview-controls-insert" class="form-group m-b-none">
                                <button type="submit" id="dataview-insert-button" class="btn btn-primary text-uppercase m-l-sm">
                                new section
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content" id="content">
            {{> SectionsView}}
    </div>
</template>

<template name="SectionsView">
    <div id="sections-view" class="row">


        {{#if isNotEmpty}}
            {{#if isNotFound}}
                <div class="col-lg-12 alert alert-danger">
                    "{{searchString}}" not found.
                </div>
            {{else}}
                <div id="dataview-data" class="col-lg-12">
                    {{#if viewAsTable}} {{> SectionsViewTable}} {{/if}}
                </div>
            {{/if}}
        {{else}}
            <div class="col-lg-12 alert alert-info text-center" style="border: none;  border-radius:0px; background-color: #0bbbef; font-size: 20px">
                You have no sections. Start creating your first one!
            </div>
        {{/if}}
    </div>
</template>

<template name="SectionsViewTable">
    <table id="dataview-table" class="table table-hover" >
     <!--   <colgroup>
            <col span="1" width="35%">
            <col span="1" width="35%">
            <col span="1" width="20%">
            <col span="1" width="10%">
        </colgroup>-->
        <thead id="dataview-table-header">
            <tr id="dataview-table-header-row">

                <th class="th-sortable"  data-sort="index">ID &nbsp;<!--<i class="fa fa-sort"></i>--><span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
                <th class="th-sortable" data-sort="sectionName">Section Name &nbsp;<!--<i class="fa fa-sort"></i>--><span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
                <th class="th-sortable"  data-sort="cardType">Type &nbsp;<!--<i class="fa fa-sort"></i>--><span class="m-r-sm"><img src="/images/icon-table-header-sort.svg"></span></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="dataview-table-items">
        {{#each tableItems}} {{> SectionsViewTableItems}} {{/each}}
        </tbody>
    </table>
</template>

<template name="SectionsViewTableItems">
    <tr id="dataview-table-items-row" >
        <td class="va-middle " >{{cardID}}</td>
        <td class="va-middle " >{{sectionName}}</td>
        <td class="va-middle " >{{cardType}}</td>
        <td class="va-middle td-icon ">
            <span data-toggle="tooltip" data-placement="top"  id="edit-button"  title="Edit"><img src="/images/icon-cms-edit.svg"></span>
        </td>
        <td class="va-middle td-icon ">
            <span data-toggle="tooltip" data-placement="top"  id="delete-button" title="Delete"><img src="/images/icon-cms-delete.svg"></span>
        </td>

    </tr>

</template>

