<template name="C_CampaignsInsert">
    {{> C_CampaignsInsertInsertForm}}
</template>

<template name="C_CampaignsInsertInsertForm">
    <form role="form">

        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-6 col-md-6">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                                <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                                <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
                                <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='cms'}}">Campaigns</a></li>
                                <li class="active"><a class="btn btn-link text-primary" href="">New Campaign</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pull-right">
                            <!--<a id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">Cancel</a>-->
                            <!--<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save & Open Editor</a>-->
                            <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                                Cancel
                            </button>
                            <button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                                Create Campaign
                            </button>


                            <!--{{> CBuilder }}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="content">
            <div id="sections-insert-insert-form" class="">


                <div class="row">
                    <div class="col-lg-12">
                        {{#if errorMessage}}
                            <div class="alert alert-warning">
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        {{#if infoMessage}}
                            <div class="alert alert-success">
                                {{infoMessage}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="hpanel">
                    <div class="panel-body" style="padding: 0px;">
                        <div style="padding:100px 100px 100px 150px">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-campaign-name">
                                        <label for="campaignName">Campaign Name</label>
                                        <div class="input-div">
                                            <input type="text" name="campaignName" value="{{nextCampaignName}}" class="form-control" autofocus="autofocus" required="required">
                                            <span id="help-text" class="help-block">
                                            </span>
                                            <span id="error-text" class="help-block">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
					<div class="form-group text-left field-date">
						<label for="date">
							Campaign date
						</label>
						<div class="input-div">
							<div class="input-group date">
								<input type="text"
                                       name="date"
                                       value=""
                                       class="form-control"
                                       required="required"
                                       data-type="date"
                                       data-format="MM-DD-YYYY">
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
							</div>
							<span id="help-text" class="help-block"></span>
							<span id="error-text" class="help-block"></span>
						</div>
					</div>

                    <!-- <div class="form-group  field-customer-id">
                        <label for="customerId">
                            Customer
                        </label>
                        <div class="input-div insert_customer">
                            <input type="text" name="customerId" value="AOL">
                           <select class="form-control"
							name="customerId"
							required="required">
							{{#each cms_customer_list}}
							<option value="{{_id}}">
							{{name}}</option>
							{{/each}}

							</select>
							<span id="help-text" class="help-block"></span>
							<span id="error-text" class="help-block"></span>
						</div>
					</div> -->

						</div>
					</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

