<template name="Campaigns">



	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-4 col-md-2">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
	                    	<li class="active"><a class="btn btn-link text-primary text-uppercase" href="{{pathFor route='campaigns'}}">Campaigns</a></li>
	                        <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class="active"><a class="btn btn-link text-primary text-ellipsis" href="">General Channel</a></li>-->
	                        <!--<li class="active"><a class="btn btn-link text-primary" href="">Campaign Name</a></li>-->
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-8 col-md-10">
	                <div class="pull-right hidden-sm hidden-xs">
	                	<form id="dataview-controls" class="form-inline" style="margin-bottom:0">
							<div id="dataview-controls-search">
								{{#if isNotEmpty}}
								<div id="dataview-controls-search-group" class="form-group m-b-none">
									<div class="btn-group" style="max-width:210px">
					                	<div class="input-group">
					                		<input type="text" class="form-control" id="dataview-search-input" style="height: 32px" placeholder="Search Campaigns..." name="search" value="{{searchString}}" autofocus="autofocus">
					                		<span class="input-group-btn">
					                			<button type="button" id="dataview-search-button" class="btn btn-default"><i class="fa fa-search"></i></button>
					                		</span>
					                	</div>
									</div>
								</div>
								{{/if}}
							</div>
							<!--div id="dataview-controls-export" class="form-group m-b-none">
								{{#if isNotEmpty}}			
									{{#if isFound}}
										<div></div>
										{{else}}
										<div class="btn-group m-l-sm">
						                    <button data-toggle="dropdown" class="btn btn-default text-uppercase dropdown-toggle" aria-expanded="false"><i class="fa fa-download m-r-xs"></i> Download Report <span class="caret"></span></button>
						                    <ul class="dropdown-menu" style="width:100%">
						                        <li><a id="dataview-export-csv" href="#">Export results to CSV</a></li>
						                        <li><a id="dataview-export-tsv" href="#">Export results to TSV</a></li>
						                        <li><a id="dataview-export-json" href="#">Export results to JSON</a></li>
						                    </ul>
						                </div> 
									{{/if}}			
								{{/if}}
							</div-->
		                	<div id="dataview-controls-insert" class="form-group m-b-none">
								<button style="margin-right: 10px" type="submit" id="dataview-insert-button" class="btn btn-primary text-uppercase m-l-sm"> New Campaign</button>
							</div>

		                </form>

	                </div>
	            </div>
            </div>
        </div>
    </div>

    <div class=" help-header" id="chatsuite-introdution" style="margin-right: 25px; background:#f1f1f1">
        <div class="" >
        <div class="row" >
            <div class="col-lg-6" style=" padding-left: 30px;">
                <img class="fullwidth" style="max-height: 150px; display: block; margin-left: auto; margin-right: auto;" src="/images/icon-help-campaigns.svg">
            </div>
            <div class="col-lg-6">
                <div class="help-text-1 m-t-60">
                    <button type="button" class="close" data-target="#chatsuite-introdution" data-dismiss="alert"> <span aria-hidden="true" style="float: right; color: #3c2e33;">&times;</span><span class="sr-only">Close</span></button>
                    This is your campaign list
                </div>
                <div class="help-text-2 m-b-30">
                    From here you can manage your campaigns and access campaign data and analytics.
                </div>
            </div>
        </div>
        </div>
    </div>


	<div class="content" id="content">


		{{> CampaignsView}}
	</div>


    
</template>

<template name="CampaignsView">
	<div id="campaigns-view" class="row">
		{{#if isNotEmpty}}
			{{#if isNotFound}}
				<div class="col-lg-12 alert alert-danger">
					"{{searchString}}" not found.
				</div>
				{{else}}
				<div id="dataview-data" class="col-lg-12">
					{{#if viewAsTable}} {{> CampaignsViewTable}} {{/if}}
				</div>
			{{/if}}
			{{else}}
			<div class="col-lg-12 alert alert-info text-center" style="border: none;  border-radius:0px; background-color: #0bbbef; font-size: 20px">
				You have no campaigns. Start creating your first one!
			</div>
		{{/if}}
	</div>
</template>

<template name="CampaignsViewTable">
	<table id="dataview-table" class="table table-hover tour-5">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="status" style="border-radius: 2px 0 0 0;">
					Status
				</th>
				<th class="th-sortable" data-sort="name">
					Campaign Title &nbsp; <span class="m-r-sm"><!--<i class="fa fa-sort"></i>--><img src="/images/icon-table-header-sort.svg"></span>
				</th>
                <!--<th class="th-sortable" data-sort="_id">
                    S/N
                </th>-->
				<th class="th-sortable" data-sort="sdate">
					Start Date &nbsp; <span class="m-r-sm"><!--<i class="fa fa-sort"></i>--><img src="/images/icon-table-header-sort.svg"></span>
				</th>
                <th class="th-sortable" data-sort="edate">
                    End Date &nbsp; <span class="m-r-sm"><!--<i class="fa fa-sort"></i>--><img src="/images/icon-table-header-sort.svg"></span>
                </th>
				<!--<th class="th-sortable" data-sort="edate">-->
					<!--Phone-->
				<!--</th>-->
				<!--<th class="th-sortable" data-sort="fb">-->
					<!--E-mail-->
				<!--</th>-->
				<!--<th class="th-sortable" data-sort="kik">-->
					<!--Note-->
				<!--</th>             
				<th class="th-sortable text-center" data-sort="active">
					Active
				</th>-->
				<th class="hidden-md hidden-sm hidden-xs">
					&nbsp;
				</th>
				<th class="hidden-md hidden-sm hidden-xs">
					&nbsp;
				</th> 
				<th class="hidden-md hidden-sm hidden-xs">
					&nbsp;
				</th>
				<th style="border-radius: 0 2px 0 0">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> CampaignsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="CampaignsViewTableItems">
	<tr id="dataview-table-items-row">
		<td class="va-middle " >
			<span class="fa fa-circle" style="color:green"></span>  &nbsp;&nbsp; Active
		</td>
		<td class="va-middle">
			{{name}}
		</td>
        <!--<td>
            {{_id}}
        </td>-->
		<td class="va-middle">
            {{sdate}}
		</td>
        <td class="va-middle">
            {{edate}}
        </td>
        <!--<td>
            {{edate}}
        </td>
		<td>
			{{phone}}
		</td>
		<td>
			{{email}}
		</td>
		<td>
			{{note}}
		</td>-->
		<!--<td class="va-middle text-center">
			<input type="checkbox" class="inline-checkbox" data-field="active" {{checked active}}>
		</td>-->
        <td class="td-icon va-middle hidden-md hidden-sm hidden-xs">
            <span data-toggle="tooltip" data-placement="top" id="edit-button"  title="Details"><img src="/images/icon-campaigns-details.svg"></span>
        </td>
        <td class="td-icon va-middle hidden-md hidden-sm hidden-xs">
            <span data-toggle="tooltip" data-placement="top" id="editor-button"  title="Editor"><img src="/images/icon-campaigns-editor.svg"></span>
        </td>
		<td class="td-icon va-middle hidden-md hidden-sm hidden-xs">
			<span data-toggle="tooltip" data-placement="top" id="stats-button" title="Analytics"><img src="/images/icon-campaigns-analytics.svg"></span>
		</td>
		<td class="td-icon va-middle hidden-md hidden-sm hidden-xs" style="padding-right: 25px; ">
			<span data-toggle="tooltip" data-placement="top" id="delete-button" title="Delete"><img src="/images/icon-cms-delete.svg"></span>
		</td>
		<td class="va-middle hidden-lg">
			<div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" aria-expanded="false"><span class="fa fa-ellipsis-h"></span></button>
                <ul class="dropdown-menu">
                    <li><a id="stats-button" href="#">View Stats</a></li>
                    <li><a id="edit-button" href="#">Edit Details</a></li>
                    <li><a id="editor-button" href="#">Go to Editor</a></li>
                    <li class="divider"></li>
                    <li><a id="delete-button" href="#">Delete</a></li>
                </ul>
            </div>
		</td>
	</tr>
</template>