<template name="SectionsEdit">
    {{> SectionsEditEditForm}}
</template>

<template name="SectionsEditEditForm">
    <form role="form">
        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-8 col-md-8">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                                <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                                <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
                                <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='cms'}}">Campaigns</a></li>
                                <li class=""><a class="btn btn-link text-ellipsis " href="/cms/sections?id={{cms_section_details.campaignName}}&cid={{cms_campaign_id}}">{{cms_section_details.campaignName}}</a></li>
                                <li class=""><a class="btn btn-link text-ellipsis " href="/cms/details/{{cms_campaign_id}}/items?sname={{cms_section_details.sectionName}}">{{cms_section_details.sectionName}}</a></li>
                                <li class="active"><a class="btn btn-link text-primary" href="">Edit Section</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="pull-right"  style="padding-right: 10px">
                            <!--<a id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">Cancel</a>-->
                            <!--<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save & Open Editor</a>-->
                            <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                                Cancel
                            </button>
                            <button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                                Save Section
                            </button>


                            <!--{{> CBuilder }}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="content">
            <div id="sections-edit-edit-form" class="">
                <div class="row">
                    <div class="col-lg-12">
                        {{#if errorMessage}}
                            <div class="alert alert-warning">
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        {{#if infoMessage}}
                            <div class="alert alert-success">
                                {{infoMessage}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="hpanel">
                    <div class="panel-body" style="padding: 0px;">
                        <div style="padding:100px 100px 100px 150px">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-cardID">
                                        <label for="cardID">ID</label>
                                        <div class="input-div">
                                            <input type="text" name="cardID" value="{{cms_section_details.cardID}}" class="form-control" autofocus="autofocus" required="required">

                                            <span id="help-text" class="help-block"></span>

                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group  field-section-name">
                                        <label for="sectionName">
                                            Sections Name
                                        </label>
                                        <div class="input-div">
                                            <input type="text" name="sectionName" value="{{cms_section_details.sectionName}}" class="form-control" autofocus="autofocus" required="required">
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-sdate">
                                        <label for="sdate">Start Date</label>
                                        <div class="input-div">
                                            <div class="input-group date">
                                                <input type="text" name="date" value="{{formatDate cms_section_details.sdate 'MM-DD-YYYY'}}" class="form-control" required="required" data-type="date" data-format="MM-DD-YYYY">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-edate">
                                        <label for="edate">End Date</label>
                                        <div class="input-div">
                                            <div class="input-group date">
                                                <input type="text" name="date" value="{{formatDate cms_section_details.edate 'MM-DD-YYYY'}}" class="form-control" required="required" data-type="date" data-format="MM-DD-YYYY">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--<div class="form-group  field-cardType">-->
                    <!--<label for="cardType">-->
                    <!--Card Type-->
                    <!--</label>-->
                    <!--<div class="input-div">-->
                    <!--<input type="text" name="cardType" value="{{cms_section_details.cardType}}" class="form-control" autofocus="autofocus" required="required">-->
                    <!--<span id="help-text" class="help-block">-->
                    <!--</span>-->
                    <!--<span id="error-text" class="help-block">-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group field-cardType">
                                        <label for="cardType">Card Type</label>
                                        <div class="input-div">
                                            <select name="cardType" class="form-group">
                                                <option selected="selected" style="font: italic small-caps normal 16px/1.4 Georgia;">
                                                    {{cms_section_details.cardType}}
                                                </option>
                                                <option>Gallery</option>
                                                <option>Button</option>
                                                <option>Text</option>
                                                <option>Menu</option>
                                                <option>Push Notification Message</option>
                                                <option>FB Image + Quick Replies</option>
                                                <option>FB Image + Buttons</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                    <div class="form-group hidden field-campaign-name">
                        <label for="campaignName">
                            Campaign Name
                        </label>
                        <div class="input-div">
                            <input type="text" name="campaignName" value="{{cms_section_details.campaignName}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
                        </div>
                    </div>



                  <!--  <div class="form-group  field-customerName">
                        <label for="customerName">
                            Customer
                        </label>
                        <div class="input-div">
                            <input type="text" name="customerName" value="{{cms_section_details.customerName}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
                        </div>
                    </div>-->

                    <!--<div class="form-group  field-customer-id">-->
                    <!--<label for="customerId">-->
                    <!--Customer-->
                    <!--</label>-->
                    <!--<div class="input-div">-->
                    <!--<select class="form-control" name="customerId" required="required">-->
                    <!--{{#each cms_customer_list}}-->
                    <!--<option value="{{_id}}"-->
                    <!--{{optionIsSelected ../section_details.customerId _id}}>							{{name}}AOL-->
                    <!--</option>-->
                    <!--{{/each}}-->
                    <!--</select>-->
                    <!--<span id="help-text" class="help-block">-->
                    <!--</span>-->
                    <!--<span id="error-text" class="help-block">-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

