<!--<template name="Login">
	<div class="container">
		<form id="login_form" class="account-form" role="form">
			<h2>
				Please sign in
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<div id="login-with-password" style="padding-top: 10px;">
				<input id="login_email" type="text" class="form-control" placeholder="Email address" required autofocus>
				<input id="login_password" type="password" class="form-control" placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
					Sign in
				</button>
				<p class="account-form-text-after" id="register-link">
					Not a member?
					<a href="{{pathFor 'register'}}">
						Sign up here
					</a>
				</p>
				<p class="account-form-text-after" id="forgot-password-link">
					Forgot password?
					<a href="{{pathFor 'forgot_password'}}">
						Click here
					</a>
				</p>
			</div>
		</form>
	</div>
</template>-->

<template name="login">

    <div class="back-link">
        <a href="{{pathFor route='dashboard'}}" class="btn btn-primary">Back to Dashboard</a>
    </div>

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>PLEASE LOGIN TO APP</h3>
                    <small>This is the best app ever!</small>
                </div>
                {{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
		{{/if}}
                <div class="hpanel">
                    <div class="panel-body">
                        <form id="login_form" class="account-form" role="form">
                            <div id="login-with-password" style="padding-top: 10px;">
		                    <div class="form-group">
		                        <label class="control-label" for="username">Username</label>
		                        <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="username" id="login_email" class="form-control">
		                        <span class="help-block small">Your unique username to app</span>
		                    </div>
		                    <div class="form-group">
		                        <label class="control-label" for="password">Password</label>
		                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="login_password" class="form-control">
		                        <span class="help-block small">Yur strong password</span>
		                    </div>
		                    <div class="checkbox">
		                        <input type="checkbox" class="i-checks" checked>
		                        Remember login
		                        <p class="help-block small">(if this is a private computer)</p>
		                    </div>
		                    <button class="btn btn-success btn-block">Login</button>
		                    <a class="btn btn-default btn-block" href="#">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>HOMER</strong> - AngularJS Responsive WebApp <br/> 2015 Copyright Company Name
            </div>
        </div>
    </div>
</template>

