<template name="panelToolsFullscreen">
    <div class="panel-tools">
        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        <a class="fullscreen"><i class="fa fa-expand"></i></a>
        <a class="closebox"><i class="fa fa-times"></i></a>
    </div>
</template>