<template name="SectionsInsert">
    {{> SectionsInsertInsertForm}}
</template>

<template name="SectionsInsertInsertForm">
    <form role="form">
        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-6 col-md-6">
                        <div id="hbreadcrumb" class="">
                            <ol class="hbreadcrumb breadcrumb" style="padding-left:123px">
                                <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
                                <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
                                <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='cms'}}">Campaigns</a></li>
                                <li ><a class="btn btn-link text-ellipsis " href="/cms/sections?id={{nextCampaignName}}&cid={{cms_campaign_details._id}}">{{nextCampaignName}}</a></li>
                                <li class="active"><a class="btn btn-link text-primary" href="">New Section</a></li>

                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pull-right"  style="padding-right: 10px">
                            <!--<a id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">Cancel</a>-->
                            <!--<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save & Open Editor</a>-->
                            <button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-l-sm">
                                Cancel
                            </button>
                            <button id="form-submit-button" class="btn btn-primary text-uppercase m-l-sm" type="submit">
                                Create Section
                            </button>


                            <!--{{> CBuilder }}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" help-header" id="chatsuite-introdution" style="margin-right: 25px; background:#f1f1f1">
            <div class="" >
                <div class="row">
                    <div class="col-lg-6"  style=" padding-left: 30px;" >
                        <img class="fullwidth" style="max-height: 150px; display: block; margin-left: auto; margin-right: auto;" src="/images/icon-help-campaigns.svg">
                    </div>
                    <div class="col-lg-6">
                        <div class="help-text-1" style="margin-top: 20px; margin-bottom: 5px">
                            <button type="button" class="close" data-target="#chatsuite-introdution" data-dismiss="alert"> <span aria-hidden="true" style="float:right; color: #3c2e33;">&times;</span><span class="sr-only">Close</span></button>
                            Sections are bot components that contain content and control the flow of your bot.
                        </div>
                        <div class="help-text-2 " style="margin-bottom: 5px">
                            Here you can create new sections ex: Galleries, buttons, Images.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="content">
            <div id="sections-insert-insert-form" class="">
                <div class="row">
                    <div class="col-lg-12">
                        {{#if errorMessage}}
                            <div class="alert alert-warning">
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        {{#if infoMessage}}
                            <div class="alert alert-success">
                                {{infoMessage}}
                            </div>
                        {{/if}}
                    </div>
                </div>

                <div class="hpanel">
                    <div class="panel-body" style="padding: 0px;">
                        <div style="padding:100px 100px 100px 150px">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-cardID">
                                        <label for="cardID">
                                            ID
                                        </label>
                                        <div class="input-div">
                                            <input type="text" id="cardID" name="cardID" value="{{cardID}}" class="form-control" autofocus="autofocus" required="required">
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-section-name">
                                        <label for="sectionName">
                                            Section title
                                        </label>
                                        <div class="input-div">
                                            <input type="text" name="sectionName" value="{{nextSectionName}}" class="form-control" autofocus="autofocus" required="required">
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group text-left field-sdate">
                                        <label for="sdate">Start Date</label>
                                        <div class="input-div">
                                            <div class="input-group date">
                                                <input type="text" name="sdate"  value="{{formatDate 'today' 'MM-DD-YYYY'}}" class="set-due-date form-control"/>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group  text-left field-edate">
                                        <label for="edate">End Date</label>
                                        <div class="input-div">
                                            <div class="input-group date">
                                                <input type="text" name="edate"  value="{{formatDate 'today' 'MM-DD-YYYY'}}" class="set-due-date form-control"/>
                                                <span class="input-group-addon leftee"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <span id="help-text" class="help-block"></span>
                                            <span id="error-text" class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group field-cardType">
                                        <label for="cardType">Card Type</label>
                                        <div class="input-div">
                                            <select name="cardType" class="form-group clearfix">
                                                <option>Gallery</option>
                                                <option>Button</option>
                                                <option>Text</option>
                                                <option>Menu</option>
                                                <option>Push Notification Message</option>
                                                <option>FB Image + Quick Replies</option>
                                                <option>FB Image + Buttons</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>



                    <div class="form-group hidden field-campaign-name">
                        <label for="campaignName" class="control-label col-sm-2" >
                            Campaign Name
                        </label>
                        <div class="input-div col-sm-10">
                            <input type="text"
                                   name="campaignName"
                                   value="{{nextCampaignName}}"
                                   class="form-control"
                                   autofocus="autofocus"
                                   required="required"
                                   readonly="readonly">
                            <span id="help-text" class="help-block"></span>
                            <span id="error-text" class="help-block"></span>
                        </div>
                    </div>


                    <!--<div class="form-group clearfix  field-date">-->
                    <!--<label for="date" class="control-label col-sm-2">-->
                    <!--Section date-->
                    <!--</label>-->
                    <!--<div class="input-div col-sm-10">-->
                    <!--<div class="input-group date">-->
                    <!--<input type="text" name="date" value="{{formatDate 'today' 'MM-DD-YYYY'}}"-->
                    <!--class="form-control" required="required" data-type="date"-->
                    <!--data-format="MM-DD-YYYY">-->
                    <!--<span class="input-group-addon">-->
                    <!--<i class="fa fa-calendar"></i>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<span id="help-text" class="help-block"></span>-->
                    <!--<span id="error-text" class="help-block"></span>-->
                    <!--</div>-->
                    <!--</div>-->

             <!--       <div class="form-group clearfix  field-customerName">
                        <label for="customerName" class="control-label col-sm-2">
                            Customer
                        </label>
                        <div class="input-div col-sm-10">
                            <input type="text" name="customerName" value="AOL">

                            <span id="help-text" class="help-block"></span>
                            <span id="error-text" class="help-block"></span>
                        </div>
                    </div> -->

                   <!-- <div class="form-group clearfix">
                        <div class="submit-div clearfix">
                            <button id="form-submit-button" class="btn btn-success" type="submit">Create</button>
                            <a href="#" id="form-cancel-button" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

